# Project 2 - Team 5

## Objective

Obtain resources from Multiple Listing Service and State of Texas websites to extract, transform, and load csv files to conduct an informative analysis in the future to help our clients to find the perfect house with the perfect school.

## Type DataBase
â€¢	SQL Postgres

## HAR Data

### Extraction

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from secrets import username, password

In [2]:
# Store csv into df
csv_file= "../Resources/small_alt_HAR.csv"  #Change to smaller file for latlong coding
raw_har_df= pd.read_csv(csv_file)
raw_har_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,90227486,2403,Austin Street,NaN,Houston,77004,Harris,Austin Skyline,Single-Family,2015,...,Contemporary/Modern,445000,16,Midtown - Houston,150,150,9/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
1,76269817,3123,Austin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Mediterranean,489000,16,Midtown - Houston,30,30,1/7/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
2,44013547,3108,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,429000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
3,78420188,3110,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,439000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
4,32279965,1804,Dennis Street,NaN,Houston,77004,Harris,Weekley at Chenvert,Single-Family,2014,...,"Contemporary/Modern, Traditional",404000,16,Midtown - Houston,36,36,1/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
5,12892280,1411,Elgin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Traditional,429000,16,Midtown - Houston,5,45,2/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
6,47688089,1527,FRANCIS Street,NaN,Houston,77004,Harris,FRANCIS STATION,Single-Family,2000,...,Traditional,320000,16,Midtown - Houston,20,20,11/16/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
7,14702643,1611,Holman Street,NaN,Houston,77004,Harris,Holman Outlot 38,Single-Family,2013,...,"Mediterranean, Traditional",1075000,16,Midtown - Houston,59,423,12/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
8,23353569,1713,Holman Street,NaN,Houston,77004,Harris,Midtown,Single-Family,2019,...,Contemporary/Modern,609900,16,Midtown - Houston,66,485,12/2/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
9,95756492,1315,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,629900,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
10,52061919,1319,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,534800,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
11,13938486,3203,La Branch Street,NaN,Houston,77004,Harris,Colina Homes/Labranch Street,Single-Family,2017,...,Contemporary/Modern,539000,16,Midtown - Houston,95,95,11/3/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
12,77592370,1503,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,996075,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
13,87702589,1505,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,936925,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
14,8797838,504,Anita Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,1999,...,Contemporary/Modern,485000,16,Midtown - Houston,75,75,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
15,43111391,227,Avondale Street,NaN,Houston,77006,Harris,Montrose,Single-Family,2014,...,Traditional,520000,16,Midtown - Houston,125,125,10/4/2020,HOUSTON ISD,WHARTON K-8 DUAL LANGUAGE ACADEMY,LAMAR HIGH SCHOOL
16,59046521,302,Dennis Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,2005,...,Traditional,1120000,16,Midtown - Houston,75,161,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
17,29513112,124,Drew Street,NaN,Houston,77006,Harris,Drew Gardens,Single-Family,2006,...,Contemporary/Modern,496500,16,Midtown - Houston,236,236,6/15/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
18,82691736,1004,Cleveland Street,NaN,Houston,77019,Harris,Skyline/Midtown,Single-Family,2015,...,Contemporary/Modern,500000,16,Midtown - Houston,32,155,1/5/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
19,13863906,1106,Oneil Street,NaN,Houston,77019,Harris,Runnells,Single-Family,1900,...,Traditional,995000,16,Midtown - Houston,216,216,7/5/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
20,71466098,1112,Robin Street,NaN,Houston,77019,Harris,Enclave/Robin,Single-Family,2015,...,Mediterranean,475000,16,Midtown - Houston,21,21,1/16/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
21,95801397,1504,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,97,314,11/1/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
22,49786342,1506,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
23,89590051,1508,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
24,49821838,1610,Victor Street,NaN,Houston,77019,Harris,Baker W R Ssbb,Single-Family,2020,...,Contemporary/Modern,699900,16,Midtown - Houston,47,47,11/6/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
25,67264587,1314,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Traditional,450000,16,Midtown - Houston,64,64,12/4/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
26,21315276,1316,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Contemporary/Modern,499000,16,Midtown - Houston,17,109,1/20/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
27,11725906,3405,Audubon Place,NaN,Houston,77006,Harris,Montrose,Single-Family,1920,...,Traditional,585000,16,Montrose,25,25,1/12/2021,HOUSTON ISD,MACGREGOR ELEMENTARY,LAMAR HIGH SCHOOL
28,56775365,4,Courtlandt Place,NaN,Houston,77006,Harris,COURTLANDT PLACE,Single-Family,1910,...,"Other Style, Traditional",3250000,16,Montrose,80,242,11/18/2020,HOUSTON ISD,MACGREGOR ELEMENTARY,LAMAR HIGH SCHOOL

### Transformation

In [3]:
# replace elementary with el to match TEA table
raw_har1_df= raw_har_df.replace({"elementary" :"ELEMENTARY"}, "EL", regex = True)
raw_har1_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,90227486,2403,Austin Street,NaN,Houston,77004,Harris,Austin Skyline,Single-Family,2015,...,Contemporary/Modern,445000,16,Midtown - Houston,150,150,9/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
1,76269817,3123,Austin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Mediterranean,489000,16,Midtown - Houston,30,30,1/7/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
2,44013547,3108,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,429000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
3,78420188,3110,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,439000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
4,32279965,1804,Dennis Street,NaN,Houston,77004,Harris,Weekley at Chenvert,Single-Family,2014,...,"Contemporary/Modern, Traditional",404000,16,Midtown - Houston,36,36,1/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
5,12892280,1411,Elgin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Traditional,429000,16,Midtown - Houston,5,45,2/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
6,47688089,1527,FRANCIS Street,NaN,Houston,77004,Harris,FRANCIS STATION,Single-Family,2000,...,Traditional,320000,16,Midtown - Houston,20,20,11/16/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
7,14702643,1611,Holman Street,NaN,Houston,77004,Harris,Holman Outlot 38,Single-Family,2013,...,"Mediterranean, Traditional",1075000,16,Midtown - Houston,59,423,12/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
8,23353569,1713,Holman Street,NaN,Houston,77004,Harris,Midtown,Single-Family,2019,...,Contemporary/Modern,609900,16,Midtown - Houston,66,485,12/2/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
9,95756492,1315,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,629900,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
10,52061919,1319,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,534800,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
11,13938486,3203,La Branch Street,NaN,Houston,77004,Harris,Colina Homes/Labranch Street,Single-Family,2017,...,Contemporary/Modern,539000,16,Midtown - Houston,95,95,11/3/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
12,77592370,1503,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,996075,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
13,87702589,1505,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,936925,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
14,8797838,504,Anita Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,1999,...,Contemporary/Modern,485000,16,Midtown - Houston,75,75,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
15,43111391,227,Avondale Street,NaN,Houston,77006,Harris,Montrose,Single-Family,2014,...,Traditional,520000,16,Midtown - Houston,125,125,10/4/2020,HOUSTON ISD,WHARTON K-8 DUAL LANGUAGE ACADEMY,LAMAR HIGH SCHOOL
16,59046521,302,Dennis Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,2005,...,Traditional,1120000,16,Midtown - Houston,75,161,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
17,29513112,124,Drew Street,NaN,Houston,77006,Harris,Drew Gardens,Single-Family,2006,...,Contemporary/Modern,496500,16,Midtown - Houston,236,236,6/15/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
18,82691736,1004,Cleveland Street,NaN,Houston,77019,Harris,Skyline/Midtown,Single-Family,2015,...,Contemporary/Modern,500000,16,Midtown - Houston,32,155,1/5/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
19,13863906,1106,Oneil Street,NaN,Houston,77019,Harris,Runnells,Single-Family,1900,...,Traditional,995000,16,Midtown - Houston,216,216,7/5/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
20,71466098,1112,Robin Street,NaN,Houston,77019,Harris,Enclave/Robin,Single-Family,2015,...,Mediterranean,475000,16,Midtown - Houston,21,21,1/16/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
21,95801397,1504,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,97,314,11/1/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
22,49786342,1506,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
23,89590051,1508,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
24,49821838,1610,Victor Street,NaN,Houston,77019,Harris,Baker W R Ssbb,Single-Family,2020,...,Contemporary/Modern,699900,16,Midtown - Houston,47,47,11/6/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS HIGH SCHOOL
25,67264587,1314,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Traditional,450000,16,Midtown - Houston,64,64,12/4/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
26,21315276,1316,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Contemporary/Modern,499000,16,Midtown - Houston,17,109,1/20/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR HIGH SCHOOL
27,11725906,3405,Audubon Place,NaN,Houston,77006,Harris,Montrose,Single-Family,1920,...,Traditional,585000,16,Montrose,25,25,1/12/2021,HOUSTON ISD,MACGREGOR EL,LAMAR HIGH SCHOOL
28,56775365,4,Courtlandt Place,NaN,Houston,77006,Harris,COURTLANDT PLACE,Single-Family,1910,...,"Other Style, Traditional",3250000,16,Montrose,80,242,11/18/2020,HOUSTON ISD,MACGREGOR EL,LAMAR HIGH SCHOOL

In [4]:
# replace high school with h s to match TEA table
customer_data_df = raw_har1_df.replace({"high_school" :"HIGH SCHOOL"}, "H S", regex = True)
customer_data_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,90227486,2403,Austin Street,NaN,Houston,77004,Harris,Austin Skyline,Single-Family,2015,...,Contemporary/Modern,445000,16,Midtown - Houston,150,150,9/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
1,76269817,3123,Austin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Mediterranean,489000,16,Midtown - Houston,30,30,1/7/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
2,44013547,3108,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,429000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
3,78420188,3110,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,439000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
4,32279965,1804,Dennis Street,NaN,Houston,77004,Harris,Weekley at Chenvert,Single-Family,2014,...,"Contemporary/Modern, Traditional",404000,16,Midtown - Houston,36,36,1/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
5,12892280,1411,Elgin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Traditional,429000,16,Midtown - Houston,5,45,2/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
6,47688089,1527,FRANCIS Street,NaN,Houston,77004,Harris,FRANCIS STATION,Single-Family,2000,...,Traditional,320000,16,Midtown - Houston,20,20,11/16/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
7,14702643,1611,Holman Street,NaN,Houston,77004,Harris,Holman Outlot 38,Single-Family,2013,...,"Mediterranean, Traditional",1075000,16,Midtown - Houston,59,423,12/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
8,23353569,1713,Holman Street,NaN,Houston,77004,Harris,Midtown,Single-Family,2019,...,Contemporary/Modern,609900,16,Midtown - Houston,66,485,12/2/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
9,95756492,1315,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,629900,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
10,52061919,1319,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,534800,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
11,13938486,3203,La Branch Street,NaN,Houston,77004,Harris,Colina Homes/Labranch Street,Single-Family,2017,...,Contemporary/Modern,539000,16,Midtown - Houston,95,95,11/3/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
12,77592370,1503,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,996075,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
13,87702589,1505,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,936925,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
14,8797838,504,Anita Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,1999,...,Contemporary/Modern,485000,16,Midtown - Houston,75,75,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
15,43111391,227,Avondale Street,NaN,Houston,77006,Harris,Montrose,Single-Family,2014,...,Traditional,520000,16,Midtown - Houston,125,125,10/4/2020,HOUSTON ISD,WHARTON K-8 DUAL LANGUAGE ACADEMY,LAMAR H S
16,59046521,302,Dennis Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,2005,...,Traditional,1120000,16,Midtown - Houston,75,161,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
17,29513112,124,Drew Street,NaN,Houston,77006,Harris,Drew Gardens,Single-Family,2006,...,Contemporary/Modern,496500,16,Midtown - Houston,236,236,6/15/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
18,82691736,1004,Cleveland Street,NaN,Houston,77019,Harris,Skyline/Midtown,Single-Family,2015,...,Contemporary/Modern,500000,16,Midtown - Houston,32,155,1/5/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
19,13863906,1106,Oneil Street,NaN,Houston,77019,Harris,Runnells,Single-Family,1900,...,Traditional,995000,16,Midtown - Houston,216,216,7/5/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
20,71466098,1112,Robin Street,NaN,Houston,77019,Harris,Enclave/Robin,Single-Family,2015,...,Mediterranean,475000,16,Midtown - Houston,21,21,1/16/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
21,95801397,1504,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,97,314,11/1/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
22,49786342,1506,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
23,89590051,1508,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
24,49821838,1610,Victor Street,NaN,Houston,77019,Harris,Baker W R Ssbb,Single-Family,2020,...,Contemporary/Modern,699900,16,Midtown - Houston,47,47,11/6/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
25,67264587,1314,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Traditional,450000,16,Midtown - Houston,64,64,12/4/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
26,21315276,1316,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Contemporary/Modern,499000,16,Midtown - Houston,17,109,1/20/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
27,11725906,3405,Audubon Place,NaN,Houston,77006,Harris,Montrose,Single-Family,1920,...,Traditional,585000,16,Montrose,25,25,1/12/2021,HOUSTON ISD,MACGREGOR EL,LAMAR H S
28,56775365,4,Courtlandt Place,NaN,Houston,77006,Harris,COURTLANDT PLACE,Single-Family,1910,...,"Other Style, Traditional",3250000,16,Montrose,80,242,11/18/2020,HOUSTON ISD,MACGREGOR EL,LAMAR H S

In [5]:
# Total info
customer_data_df.shape

(29, 29)

In [6]:
# Columns list
customer_data_df.columns

Index(['mls', 'street_number', 'street_name', 'unit', 'city', 'zip', 'county',
       'subdivision', 'home_type', 'year_built', 'bedrooms', 'full_baths',
       'half_baths', 'total_baths', 'room_count', 'fireplaces', 'stories',
       'pool_private', 'garages', 'style', 'list_price', 'market_area', 'area',
       'dom', 'cdom', 'list_date', 'school_district', 'elementary',
       'high_school'],
      dtype='object')

In [7]:
# Navigate a single column
customer_data_df['city']

0     Houston
1     Houston
2     Houston
3     Houston
4     Houston
5     Houston
6     Houston
7     Houston
8     Houston
9     Houston
10    Houston
11    Houston
12    Houston
13    Houston
14    Houston
15    Houston
16    Houston
17    Houston
18    Houston
19    Houston
20    Houston
21    Houston
22    Houston
23    Houston
24    Houston
25    Houston
26    Houston
27    Houston
28    Houston
Name: city, dtype: object

In [8]:
# Replace null values with "0"
# customer_data_df['fireplaces']= customer_data_df['fireplaces'].fillna(0)

In [9]:
# Check replacement
# customer_data_df['fireplaces']

In [10]:
# Replace null values with "0"
# customer_data_df['garages']= customer_data_df['garages'].fillna(0)

In [11]:
# Checking unique values
# customer_data_df.nunique()

In [12]:
# Checking unique values
customer_data_df.nunique().count()

29

In [13]:
# isna/isnull
# customer_data_df.isna().sum()

In [14]:
# Data types
# customer_data_df.dtypes

In [15]:
# Create new df
HAR_df= customer_data_df
HAR_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,90227486,2403,Austin Street,NaN,Houston,77004,Harris,Austin Skyline,Single-Family,2015,...,Contemporary/Modern,445000,16,Midtown - Houston,150,150,9/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
1,76269817,3123,Austin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Mediterranean,489000,16,Midtown - Houston,30,30,1/7/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
2,44013547,3108,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,429000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
3,78420188,3110,Crawford Street,NaN,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,439000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
4,32279965,1804,Dennis Street,NaN,Houston,77004,Harris,Weekley at Chenvert,Single-Family,2014,...,"Contemporary/Modern, Traditional",404000,16,Midtown - Houston,36,36,1/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
5,12892280,1411,Elgin Street,NaN,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Traditional,429000,16,Midtown - Houston,5,45,2/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
6,47688089,1527,FRANCIS Street,NaN,Houston,77004,Harris,FRANCIS STATION,Single-Family,2000,...,Traditional,320000,16,Midtown - Houston,20,20,11/16/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
7,14702643,1611,Holman Street,NaN,Houston,77004,Harris,Holman Outlot 38,Single-Family,2013,...,"Mediterranean, Traditional",1075000,16,Midtown - Houston,59,423,12/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
8,23353569,1713,Holman Street,NaN,Houston,77004,Harris,Midtown,Single-Family,2019,...,Contemporary/Modern,609900,16,Midtown - Houston,66,485,12/2/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
9,95756492,1315,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,629900,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
10,52061919,1319,Isabella Street,NaN,Houston,77004,Harris,Midtown Elevated,Single-Family,2019,...,Traditional,534800,16,Midtown - Houston,12,962,1/25/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
11,13938486,3203,La Branch Street,NaN,Houston,77004,Harris,Colina Homes/Labranch Street,Single-Family,2017,...,Contemporary/Modern,539000,16,Midtown - Houston,95,95,11/3/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
12,77592370,1503,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,996075,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
13,87702589,1505,Stuart Street,NaN,Houston,77004,Harris,Stuart Terrace,Single-Family,2021,...,Contemporary/Modern,936925,16,Midtown - Houston,80,80,11/18/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
14,8797838,504,Anita Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,1999,...,Contemporary/Modern,485000,16,Midtown - Houston,75,75,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
15,43111391,227,Avondale Street,NaN,Houston,77006,Harris,Montrose,Single-Family,2014,...,Traditional,520000,16,Midtown - Houston,125,125,10/4/2020,HOUSTON ISD,WHARTON K-8 DUAL LANGUAGE ACADEMY,LAMAR H S
16,59046521,302,Dennis Street,NaN,Houston,77006,Harris,Fairgrounds,Single-Family,2005,...,Traditional,1120000,16,Midtown - Houston,75,161,11/23/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
17,29513112,124,Drew Street,NaN,Houston,77006,Harris,Drew Gardens,Single-Family,2006,...,Contemporary/Modern,496500,16,Midtown - Houston,236,236,6/15/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
18,82691736,1004,Cleveland Street,NaN,Houston,77019,Harris,Skyline/Midtown,Single-Family,2015,...,Contemporary/Modern,500000,16,Midtown - Houston,32,155,1/5/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
19,13863906,1106,Oneil Street,NaN,Houston,77019,Harris,Runnells,Single-Family,1900,...,Traditional,995000,16,Midtown - Houston,216,216,7/5/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
20,71466098,1112,Robin Street,NaN,Houston,77019,Harris,Enclave/Robin,Single-Family,2015,...,Mediterranean,475000,16,Midtown - Houston,21,21,1/16/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
21,95801397,1504,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,97,314,11/1/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
22,49786342,1506,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
23,89590051,1508,Saulnier Street,NaN,Houston,77019,Harris,Allen Pines Lofts Sub,Single-Family,2020,...,Contemporary/Modern,525000,16,Midtown - Houston,109,109,10/20/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
24,49821838,1610,Victor Street,NaN,Houston,77019,Harris,Baker W R Ssbb,Single-Family,2020,...,Contemporary/Modern,699900,16,Midtown - Houston,47,47,11/6/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,HEIGHTS H S
25,67264587,1314,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Traditional,450000,16,Midtown - Houston,64,64,12/4/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
26,21315276,1316,Hadley St,NaN,Houston,77002,Harris,Austin Hadley Place,Single-Family,2007,...,Contemporary/Modern,499000,16,Midtown - Houston,17,109,1/20/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
27,11725906,3405,Audubon Place,NaN,Houston,77006,Harris,Montrose,Single-Family,1920,...,Traditional,585000,16,Montrose,25,25,1/12/2021,HOUSTON ISD,MACGREGOR EL,LAMAR H S
28,56775365,4,Courtlandt Place,NaN,Houston,77006,Harris,COURTLANDT PLACE,Single-Family,1910,...,"Other Style, Traditional",3250000,16,Montrose,80,242,11/18/2020,HOUSTON ISD,MACGREGOR EL,LAMAR H S

### Retrieving Latitude and Longitude

In [16]:
# Creating addresses df
orig_addresses_df = HAR_df[['street_number','street_name','city','zip']]
orig_addresses_df.insert(3,'state','Texas')

orig_addresses_df

    street_number       street_name     city  state    zip
0            2403     Austin Street  Houston  Texas  77004
1            3123     Austin Street  Houston  Texas  77004
2            3108   Crawford Street  Houston  Texas  77004
3            3110   Crawford Street  Houston  Texas  77004
4            1804     Dennis Street  Houston  Texas  77004
5            1411      Elgin Street  Houston  Texas  77004
6            1527    FRANCIS Street  Houston  Texas  77004
7            1611     Holman Street  Houston  Texas  77004
8            1713     Holman Street  Houston  Texas  77004
9            1315   Isabella Street  Houston  Texas  77004
10           1319   Isabella Street  Houston  Texas  77004
11           3203  La Branch Street  Houston  Texas  77004
12           1503     Stuart Street  Houston  Texas  77004
13           1505     Stuart Street  Houston  Texas  77004
14            504      Anita Street  Houston  Texas  77006
15            227   Avondale Street  Houston  Texas  77006
16            302     Dennis Street  Houston  Texas  77006
17            124       Drew Street  Houston  Texas  77006
18           1004  Cleveland Street  Houston  Texas  77019
19           1106      Oneil Street  Houston  Texas  77019
20           1112      Robin Street  Houston  Texas  77019
21           1504   Saulnier Street  Houston  Texas  77019
22           1506   Saulnier Street  Houston  Texas  77019
23           1508   Saulnier Street  Houston  Texas  77019
24           1610     Victor Street  Houston  Texas  77019
25           1314         Hadley St  Houston  Texas  77002
26           1316         Hadley St  Houston  Texas  77002
27           3405     Audubon Place  Houston  Texas  77006
28              4  Courtlandt Place  Houston  Texas  77006

In [17]:
orig_addresses_df['full_address'] = orig_addresses_df['street_number'].map(str)+' '+orig_addresses_df['street_name'].map(str)+', '+orig_addresses_df['city'].map(str)+', '+orig_addresses_df['state'].map(str)+', '+orig_addresses_df['zip'].map(str)
orig_addresses_df

<ipython-input-17-3295fb9f47e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orig_addresses_df['full_address'] = orig_addresses_df['street_number'].map(str)+' '+orig_addresses_df['street_name'].map(str)+', '+orig_addresses_df['city'].map(str)+', '+orig_addresses_df['state'].map(str)+', '+orig_addresses_df['zip'].map(str)

,street_number,street_name,city,state,zip,full_address
0,2403,Austin Street,Houston,Texas,77004,"2403 Austin Street, Houston, Texas, 77004"
1,3123,Austin Street,Houston,Texas,77004,"3123 Austin Street, Houston, Texas, 77004"
2,3108,Crawford Street,Houston,Texas,77004,"3108 Crawford Street, Houston, Texas, 77004"
3,3110,Crawford Street,Houston,Texas,77004,"3110 Crawford Street, Houston, Texas, 77004"
4,1804,Dennis Street,Houston,Texas,77004,"1804 Dennis Street, Houston, Texas, 77004"
5,1411,Elgin Street,Houston,Texas,77004,"1411 Elgin Street, Houston, Texas, 77004"
6,1527,FRANCIS Street,Houston,Texas,77004,"1527 FRANCIS Street, Houston, Texas, 77004"
7,1611,Holman Street,Houston,Texas,77004,"1611 Holman Street, Houston, Texas, 77004"
8,1713,Holman Street,Houston,Texas,77004,"1713 Holman Street, Houston, Texas, 77004"
9,1315,Isabella Street,Houston,Texas,77004,"1315 Isabella Street, Houston, Texas, 77004"
10,1319,Isabella Street,Houston,Texas,77004,"1319 Isabella Street, Houston, Texas, 77004"
11,3203,La Branch Street,Houston,Texas,77004,"3203 La Branch Street, Houston, Texas, 77004"
12,1503,Stuart Street,Houston,Texas,77004,"1503 Stuart Street, Houston, Texas, 77004"
13,1505,Stuart Street,Houston,Texas,77004,"1505 Stuart Street, Houston, Texas, 77004"
14,504,Anita Street,Houston,Texas,77006,"504 Anita Street, Houston, Texas, 77006"
15,227,Avondale Street,Houston,Texas,77006,"227 Avondale Street, Houston, Texas, 77006"
16,302,Dennis Street,Houston,Texas,77006,"302 Dennis Street, Houston, Texas, 77006"
17,124,Drew Street,Houston,Texas,77006,"124 Drew Street, Houston, Texas, 77006"
18,1004,Cleveland Street,Houston,Texas,77019,"1004 Cleveland Street, Houston, Texas, 77019"
19,1106,Oneil Street,Houston,Texas,77019,"1106 Oneil Street, Houston, Texas, 77019"
20,1112,Robin Street,Houston,Texas,77019,"1112 Robin Street, Houston, Texas, 77019"
21,1504,Saulnier Street,Houston,Texas,77019,"1504 Saulnier Street, Houston, Texas, 77019"
22,1506,Saulnier Street,Houston,Texas,77019,"1506 Saulnier Street, Houston, Texas, 77019"
23,1508,Saulnier Street,Houston,Texas,77019,"1508 Saulnier Street, Houston, Texas, 77019"
24,1610,Victor Street,Houston,Texas,77019,"1610 Victor Street, Houston, Texas, 77019"
25,1314,Hadley St,Houston,Texas,77002,"1314 Hadley St, Houston, Texas, 77002"
26,1316,Hadley St,Houston,Texas,77002,"1316 Hadley St, Houston, Texas, 77002"
27,3405,Audubon Place,Houston,Texas,77006,"3405 Audubon Place, Houston, Texas, 77006"
28,4,Courtlandt Place,Houston,Texas,77006,"4 Courtlandt Place, Houston, Texas, 77006"

In [18]:
addresses_df = orig_addresses_df.drop(['street_number','street_name','city','state','zip'], axis =1)
addresses_df

                                    full_address
0      2403 Austin Street, Houston, Texas, 77004
1      3123 Austin Street, Houston, Texas, 77004
2    3108 Crawford Street, Houston, Texas, 77004
3    3110 Crawford Street, Houston, Texas, 77004
4      1804 Dennis Street, Houston, Texas, 77004
5       1411 Elgin Street, Houston, Texas, 77004
6     1527 FRANCIS Street, Houston, Texas, 77004
7      1611 Holman Street, Houston, Texas, 77004
8      1713 Holman Street, Houston, Texas, 77004
9    1315 Isabella Street, Houston, Texas, 77004
10   1319 Isabella Street, Houston, Texas, 77004
11  3203 La Branch Street, Houston, Texas, 77004
12     1503 Stuart Street, Houston, Texas, 77004
13     1505 Stuart Street, Houston, Texas, 77004
14       504 Anita Street, Houston, Texas, 77006
15    227 Avondale Street, Houston, Texas, 77006
16      302 Dennis Street, Houston, Texas, 77006
17        124 Drew Street, Houston, Texas, 77006
18  1004 Cleveland Street, Houston, Texas, 77019
19      1106 Oneil Street, Houston, Texas, 77019
20      1112 Robin Street, Houston, Texas, 77019
21   1504 Saulnier Street, Houston, Texas, 77019
22   1506 Saulnier Street, Houston, Texas, 77019
23   1508 Saulnier Street, Houston, Texas, 77019
24     1610 Victor Street, Houston, Texas, 77019
25         1314 Hadley St, Houston, Texas, 77002
26         1316 Hadley St, Houston, Texas, 77002
27     3405 Audubon Place, Houston, Texas, 77006
28     4 Courtlandt Place, Houston, Texas, 77006

In [19]:
#https://towardsdatascience.com/how-to-generate-lat-and-long-coordinates-from-an-address-column-using-pandas-and-googlemaps-api-d66b2720248d
#conda install -c conda-forge gmaps
#conda install -c conda-forge googlemaps
from googlemaps import Client as GoogleMaps
from secrets import API_KEY

gmaps = GoogleMaps('AIzaSyCPvDQ8q0r9qDifnmkcAxxINp8yOUJHSKc')

#addresses = addresses_df['full_address']
addresses_df

                                    full_address
0      2403 Austin Street, Houston, Texas, 77004
1      3123 Austin Street, Houston, Texas, 77004
2    3108 Crawford Street, Houston, Texas, 77004
3    3110 Crawford Street, Houston, Texas, 77004
4      1804 Dennis Street, Houston, Texas, 77004
5       1411 Elgin Street, Houston, Texas, 77004
6     1527 FRANCIS Street, Houston, Texas, 77004
7      1611 Holman Street, Houston, Texas, 77004
8      1713 Holman Street, Houston, Texas, 77004
9    1315 Isabella Street, Houston, Texas, 77004
10   1319 Isabella Street, Houston, Texas, 77004
11  3203 La Branch Street, Houston, Texas, 77004
12     1503 Stuart Street, Houston, Texas, 77004
13     1505 Stuart Street, Houston, Texas, 77004
14       504 Anita Street, Houston, Texas, 77006
15    227 Avondale Street, Houston, Texas, 77006
16      302 Dennis Street, Houston, Texas, 77006
17        124 Drew Street, Houston, Texas, 77006
18  1004 Cleveland Street, Houston, Texas, 77019
19      1106 Oneil Street, Houston, Texas, 77019
20      1112 Robin Street, Houston, Texas, 77019
21   1504 Saulnier Street, Houston, Texas, 77019
22   1506 Saulnier Street, Houston, Texas, 77019
23   1508 Saulnier Street, Houston, Texas, 77019
24     1610 Victor Street, Houston, Texas, 77019
25         1314 Hadley St, Houston, Texas, 77002
26         1316 Hadley St, Houston, Texas, 77002
27     3405 Audubon Place, Houston, Texas, 77006
28     4 Courtlandt Place, Houston, Texas, 77006

In [20]:
import time  #to add delay in case of large DFs, python function

addresses_df['long'] = ""
addresses_df['lat'] = ""

#for x in range(len(addresses_df)):
#    try:
#        time.sleep(.5) #to add delay in case of large DFs
#        geocode_result = gmaps.geocode(addresses_df['full_address'][x])
#        addresses_df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
#        addresses_df['long'][x] = geocode_result[0]['geometry']['location']['lng']
#    except IndexError:
#        print("Address was wrong...")
#    except Exception as e:
#        print("Unexpected error occurred.", e )
        
#addresses_df.head()
#addresses.to_csv('address_coords.csv')

In [21]:
#https://geopy.readthedocs.io/en/latest/#specifying-parameters-once
    
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="team5")

#geocode = lambda query: geolocator.geocode("%s, Houston, TX" % query)

location = geolocator.geocode("1804 Dennis Street, Houston, Texas, 77004")

print(location.address)
print((location.latitude, location.longitude))

Dennis Street, Houston, Harris County, Texas, 77004, United States
(29.7377576, -95.363639)

In [22]:
from functools import partial
from geopy.geocoders import Nominatim

#2618 Texas St, Houston, Texas, 77003
geocode = partial(geolocator.geocode, language="en")
print(geocode("2709 Rosalie Avenue, Houston, Texas, 77004"))
print(geocode("2709 Rosalie Avenue, Houston"))

None
Houston Food Mart, Rosalie Street, Houston, Harris County, Texas, 77004, United States

In [23]:
import pandas as pd
df = pd.DataFrame({'name': ['paris', 'berlin', 'london']})

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="team5")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df['location'] = df['name'].apply(geocode)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
df

,name,location,point
0,paris,"(Paris, ÃŽle-de-France, France mÃ©tropolitaine, ...","(48.8566969, 2.3514616, 0.0)"
1,berlin,"(Berlin, 10117, Deutschland, (52.5170365, 13.3...","(52.5170365, 13.3888599, 0.0)"
2,london,"(London, Greater London, England, United Kingd...","(51.5073219, -0.1276474, 0.0)"

In [24]:
import pandas as pd

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="team5")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

addresses_df['location'] = addresses_df['full_address'].apply(geocode)

addresses_df['point'] = addresses_df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
addresses_df

,full_address,long,lat,location,point
0,"2403 Austin Street, Houston, Texas, 77004",,,"(2403, Austin Street, Houston, Harris County, ...","(29.74421667631317, -95.36979554912456, 0.0)"
1,"3123 Austin Street, Houston, Texas, 77004",,,"(3123, Austin Street, Houston, Harris County, ...","(29.739923346938777, -95.37319902040817, 0.0)"
2,"3108 Crawford Street, Houston, Texas, 77004",,,"(3108, Crawford Street, Houston, Harris County...","(29.73904367346939, -95.37159746938775, 0.0)"
3,"3110 Crawford Street, Houston, Texas, 77004",,,"(3110, Crawford Street, Houston, Harris County...","(29.739035591836736, -95.37160383673469, 0.0)"
4,"1804 Dennis Street, Houston, Texas, 77004",,,"(Dennis Street, Houston, Harris County, Texas,...","(29.7377576, -95.363639, 0.0)"
5,"1411 Elgin Street, Houston, Texas, 77004",,,"(Elgin Street, Houston, Harris County, Texas, ...","(29.7344178, -95.3650585, 0.0)"
6,"1527 FRANCIS Street, Houston, Texas, 77004",,,"(1527, Francis Street, Houston, Harris County,...","(29.737666836734693, -95.3734274489796, 0.0)"
7,"1611 Holman Street, Houston, Texas, 77004",,,"(1611, Holman Street, Houston, Harris County, ...","(29.736427, -95.372789, 0.0)"
8,"1713 Holman Street, Houston, Texas, 77004",,,"(1713, Holman Street, Houston, Harris County, ...","(29.736006795918367, -95.37210659183673, 0.0)"
9,"1315 Isabella Street, Houston, Texas, 77004",,,"(1315, Isabella Street, Houston, Harris County...","(29.73502457142857, -95.37816271428572, 0.0)"
10,"1319 Isabella Street, Houston, Texas, 77004",,,"(1319, Isabella Street, Houston, Harris County...","(29.735009591836736, -95.37813691836735, 0.0)"
11,"3203 La Branch Street, Houston, Texas, 77004",,,"(3203, La Branch Street, Houston, Harris Count...","(29.738887489795918, -95.37274957142857, 0.0)"
12,"1503 Stuart Street, Houston, Texas, 77004",,,"(1503, Stuart Street, Houston, Harris County, ...","(29.73832030612245, -95.37313710204081, 0.0)"
13,"1505 Stuart Street, Houston, Texas, 77004",,,"(1505, Stuart Street, Houston, Harris County, ...","(29.738312612244897, -95.37312420408163, 0.0)"
14,"504 Anita Street, Houston, Texas, 77006",,,"(504, Anita Street, Houston, Harris County, Te...","(29.745236489795918, -95.38033785714286, 0.0)"
15,"227 Avondale Street, Houston, Texas, 77006",,,"(227, Avondale Street, Houston, Harris County,...","(29.745590653061225, -95.38356357142857, 0.0)"
16,"302 Dennis Street, Houston, Texas, 77006",,,"(Dennis Street, Houston, Harris County, Texas,...","(29.747728, -95.3797045, 0.0)"
17,"124 Drew Street, Houston, Texas, 77006",,,"(124, Drew Street, Houston, Harris County, Tex...","(29.74853718367347, -95.38259197959184, 0.0)"
18,"1004 Cleveland Street, Houston, Texas, 77019",,,"(1004, Cleveland Street, Houston, Harris Count...","(29.75462787755102, -95.37795148979592, 0.0)"
19,"1106 Oneil Street, Houston, Texas, 77019",,,"(1106, O'Neil Street, Houston, Harris County, ...","(29.752782693877553, -95.37881955102041, 0.0)"
20,"1112 Robin Street, Houston, Texas, 77019",,,"(1112, Robin Street, Houston, Harris County, T...","(29.756511387755104, -95.3789028367347, 0.0)"
21,"1504 Saulnier Street, Houston, Texas, 77019",,,"(1504, Saulnier Street, Houston, Harris County...","(29.75710942857143, -95.38239153061225, 0.0)"
22,"1506 Saulnier Street, Houston, Texas, 77019",,,"(1506, Saulnier Street, Houston, Harris County...","(29.757109142857143, -95.38240379591836, 0.0)"
23,"1508 Saulnier Street, Houston, Texas, 77019",,,"(1508, Saulnier Street, Houston, Harris County...","(29.757108857142857, -95.38241606122449, 0.0)"
24,"1610 Victor Street, Houston, Texas, 77019",,,"(1610, Victor Street, Houston, Harris County, ...","(29.753984306122447, -95.3832651632653, 0.0)"
25,"1314 Hadley St, Houston, Texas, 77002",,,"(1314, Hadley Street, Houston, Harris County, ...","(29.745504036147487, -95.36986074136271, 0.0)"
26,"1316 Hadley St, Houston, Texas, 77002",,,"(1316, Hadley Street, Houston, Harris County, ...","(29.745496327025702, -95.36984813298596, 0.0)"
27,"3405 Audubon Place, Houston, Texas, 77006",,,"(3405, Audubon Place, Houston, Harris County, ...","(29.74225848979592, -95.38643271428572, 0.0)"
28,"4 Courtlandt Place, Houston, Texas, 77006",,,"(Sterling Myer House, 4, Courtlandt Place, Hou...","(29.7439349, -95.3824257, 0.0)"

In [ ]:
import pandas as pd

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="team5")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

#location = geolocator.geocode("1804 Dennis Street, Houston, Texas, 77004")

#print(location.address)
#print((location.latitude, location.longitude))

addresses_df['location'] = addresses_df['full_address'].apply(geocode)

addresses_df['point'] = addresses_df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
addresses_df

In [25]:
# Writing to clean csv
HAR_df.to_csv("../Resources/alt_clean_har.csv", index = False)

In [26]:
# creating elementary school potion of junction table
raw_mls_el_df = HAR_df[['mls','elementary']]
mls_el_df= raw_mls_el_df.rename(columns= {'elementary': 'school'})
mls_el_df

         mls                             school
0   90227486             GREGORY-LINCOLN ED CTR
1   76269817             GREGORY-LINCOLN ED CTR
2   44013547             GREGORY-LINCOLN ED CTR
3   78420188             GREGORY-LINCOLN ED CTR
4   32279965             GREGORY-LINCOLN ED CTR
5   12892280             GREGORY-LINCOLN ED CTR
6   47688089             GREGORY-LINCOLN ED CTR
7   14702643             GREGORY-LINCOLN ED CTR
8   23353569             GREGORY-LINCOLN ED CTR
9   95756492             GREGORY-LINCOLN ED CTR
10  52061919             GREGORY-LINCOLN ED CTR
11  13938486             GREGORY-LINCOLN ED CTR
12  77592370             GREGORY-LINCOLN ED CTR
13  87702589             GREGORY-LINCOLN ED CTR
14   8797838             GREGORY-LINCOLN ED CTR
15  43111391  WHARTON K-8 DUAL LANGUAGE ACADEMY
16  59046521             GREGORY-LINCOLN ED CTR
17  29513112             GREGORY-LINCOLN ED CTR
18  82691736             GREGORY-LINCOLN ED CTR
19  13863906             GREGORY-LINCOLN ED CTR
20  71466098             GREGORY-LINCOLN ED CTR
21  95801397             GREGORY-LINCOLN ED CTR
22  49786342             GREGORY-LINCOLN ED CTR
23  89590051             GREGORY-LINCOLN ED CTR
24  49821838             GREGORY-LINCOLN ED CTR
25  67264587             GREGORY-LINCOLN ED CTR
26  21315276             GREGORY-LINCOLN ED CTR
27  11725906                       MACGREGOR EL
28  56775365                       MACGREGOR EL

In [27]:
# creating high school potion of junction table
raw_mls_hs_df = HAR_df[['mls', 'high_school']]
mls_hs_df= raw_mls_hs_df.rename(columns= {'high_school': 'school'})
mls_hs_df

         mls       school
0   90227486    LAMAR H S
1   76269817    LAMAR H S
2   44013547    LAMAR H S
3   78420188    LAMAR H S
4   32279965    LAMAR H S
5   12892280    LAMAR H S
6   47688089    LAMAR H S
7   14702643    LAMAR H S
8   23353569    LAMAR H S
9   95756492    LAMAR H S
10  52061919    LAMAR H S
11  13938486    LAMAR H S
12  77592370    LAMAR H S
13  87702589    LAMAR H S
14   8797838    LAMAR H S
15  43111391    LAMAR H S
16  59046521    LAMAR H S
17  29513112    LAMAR H S
18  82691736  HEIGHTS H S
19  13863906  HEIGHTS H S
20  71466098  HEIGHTS H S
21  95801397  HEIGHTS H S
22  49786342  HEIGHTS H S
23  89590051  HEIGHTS H S
24  49821838  HEIGHTS H S
25  67264587    LAMAR H S
26  21315276    LAMAR H S
27  11725906    LAMAR H S
28  56775365    LAMAR H S

In [28]:
# concating HAR potion of junction table
frames = [mls_el_df,mls_hs_df]
all_mls_schools_df = pd.concat(frames)
all_mls_schools_df.to_csv('../Resources/all_mls_schools.csv', index = False)
all_mls_schools_df

         mls                             school
0   90227486             GREGORY-LINCOLN ED CTR
1   76269817             GREGORY-LINCOLN ED CTR
2   44013547             GREGORY-LINCOLN ED CTR
3   78420188             GREGORY-LINCOLN ED CTR
4   32279965             GREGORY-LINCOLN ED CTR
5   12892280             GREGORY-LINCOLN ED CTR
6   47688089             GREGORY-LINCOLN ED CTR
7   14702643             GREGORY-LINCOLN ED CTR
8   23353569             GREGORY-LINCOLN ED CTR
9   95756492             GREGORY-LINCOLN ED CTR
10  52061919             GREGORY-LINCOLN ED CTR
11  13938486             GREGORY-LINCOLN ED CTR
12  77592370             GREGORY-LINCOLN ED CTR
13  87702589             GREGORY-LINCOLN ED CTR
14   8797838             GREGORY-LINCOLN ED CTR
15  43111391  WHARTON K-8 DUAL LANGUAGE ACADEMY
16  59046521             GREGORY-LINCOLN ED CTR
17  29513112             GREGORY-LINCOLN ED CTR
18  82691736             GREGORY-LINCOLN ED CTR
19  13863906             GREGORY-LINCOLN ED CTR
20  71466098             GREGORY-LINCOLN ED CTR
21  95801397             GREGORY-LINCOLN ED CTR
22  49786342             GREGORY-LINCOLN ED CTR
23  89590051             GREGORY-LINCOLN ED CTR
24  49821838             GREGORY-LINCOLN ED CTR
25  67264587             GREGORY-LINCOLN ED CTR
26  21315276             GREGORY-LINCOLN ED CTR
27  11725906                       MACGREGOR EL
28  56775365                       MACGREGOR EL
0   90227486                          LAMAR H S
1   76269817                          LAMAR H S
2   44013547                          LAMAR H S
3   78420188                          LAMAR H S
4   32279965                          LAMAR H S
5   12892280                          LAMAR H S
6   47688089                          LAMAR H S
7   14702643                          LAMAR H S
8   23353569                          LAMAR H S
9   95756492                          LAMAR H S
10  52061919                          LAMAR H S
11  13938486                          LAMAR H S
12  77592370                          LAMAR H S
13  87702589                          LAMAR H S
14   8797838                          LAMAR H S
15  43111391                          LAMAR H S
16  59046521                          LAMAR H S
17  29513112                          LAMAR H S
18  82691736                        HEIGHTS H S
19  13863906                        HEIGHTS H S
20  71466098                        HEIGHTS H S
21  95801397                        HEIGHTS H S
22  49786342                        HEIGHTS H S
23  89590051                        HEIGHTS H S
24  49821838                        HEIGHTS H S
25  67264587                          LAMAR H S
26  21315276                          LAMAR H S
27  11725906                          LAMAR H S
28  56775365                          LAMAR H S

## TEA Data

### Extraction

In [29]:
# Store csv into df
csv_file= "../Resources/alt_school_rating_list_tea.csv"
raw_school_rating_df= pd.read_csv(csv_file)
raw_school_rating_df.head()

,Campus\r\nNumber,Campus,District,ESC\r\nRegion,Region,SBOE\r\nDistrict,# of Consecutive Years Campus is Academically Unacceptable,Campus 2020 Rating,Campus 2019 Rating,Campus 2018 Rating,Campus 2017 Rating,Campus 2016 Rating,Campus 2015 Rating,Campus 2014 Rating,Campus 2013 Rating,Campus 2012 Rating,Campus 2011 Rating
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,B,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,NaN,Academically Unacceptable
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,1.0,Not Rated: Declared State of Disaster,F,Met Standard,Met Standard,Met Standard,Improvement Required,Met Standard,Met Standard,NaN,Academically Unacceptable
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,C,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,NaN,Academically Acceptable
3,024901103,LASATER EL,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,C,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,NaN,Academically Acceptable
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Transformation

In [30]:
# removing columns not needed
raw_school_rating1_df = raw_school_rating_df.drop(['ESC\r\nRegion', 'Region', 'SBOE\r\nDistrict','Campus 2020 Rating',
                                                  'Campus 2018 Rating', 'Campus 2017 Rating','Campus 2016 Rating',
                                                  'Campus 2015 Rating', 'Campus 2014 Rating','Campus 2013 Rating',
                                                  'Campus 2012 Rating','Campus 2011 Rating'], axis =1)
raw_school_rating1_df

,Campus\r\nNumber,Campus,District,# of Consecutive Years Campus is Academically Unacceptable,Campus 2019 Rating
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN
...,...,...,...,...,...
8866,232903110,FLORES EL,UVALDE CISD,0.0,C
8867,* n/a: Rating is not available.,NaN,NaN,NaN,NaN
8868,* 2011 is the last year for the accountability...,NaN,NaN,NaN,NaN
8869,* No state accountability ratings were assigne...,NaN,NaN,NaN,NaN
8870,* State accountability ratings were changed to...,NaN,NaN,NaN,NaN

In [31]:
# Renaming columns - int is for intermediate (in process) table
int_school_rating_df= raw_school_rating1_df.rename(columns= {'Campus\r\nNumber': 'campus_number',
                                                            'Campus' : 'school',
                                                            'District' : 'district',
                                                          '# of Consecutive Years Campus is Academically Unacceptable' : 'yrs_unacceptable',
                                                          'Campus 2019 Rating' : 'rating'})
int_school_rating_df

,campus_number,school,district,yrs_unacceptable,rating
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN
...,...,...,...,...,...
8866,232903110,FLORES EL,UVALDE CISD,0.0,C
8867,* n/a: Rating is not available.,NaN,NaN,NaN,NaN
8868,* 2011 is the last year for the accountability...,NaN,NaN,NaN,NaN
8869,* No state accountability ratings were assigne...,NaN,NaN,NaN,NaN
8870,* State accountability ratings were changed to...,NaN,NaN,NaN,NaN

In [32]:
# Adding in new column and associated value
int_school_rating_df['year']= 2019
int_school_rating_df

,campus_number,school,district,yrs_unacceptable,rating,year
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B,2019
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F,2019
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C,2019
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C,2019
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN,2019
...,...,...,...,...,...,...
8866,232903110,FLORES EL,UVALDE CISD,0.0,C,2019
8867,* n/a: Rating is not available.,NaN,NaN,NaN,NaN,2019
8868,* 2011 is the last year for the accountability...,NaN,NaN,NaN,NaN,2019
8869,* No state accountability ratings were assigne...,NaN,NaN,NaN,NaN,2019
8870,* State accountability ratings were changed to...,NaN,NaN,NaN,NaN,2019

In [33]:
# Dropping rows that contain notes, i.e. start with *
int_school_ratinga_df = int_school_rating_df.drop(int_school_rating_df.loc[int_school_rating_df.campus_number.str.startswith("*")].index)
int_school_ratinga_df

,campus_number,school,district,yrs_unacceptable,rating,year
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B,2019
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F,2019
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C,2019
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C,2019
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN,2019
...,...,...,...,...,...,...
8862,232903102,DALTON EL,UVALDE CISD,0.0,C,2019
8863,232903103,ROBB EL,UVALDE CISD,2.0,F,2019
8864,232903104,ANTHON EL,UVALDE CISD,0.0,C,2019
8865,232903108,BATESVILLE SCHOOL,UVALDE CISD,1.0,F,2019
8866,232903110,FLORES EL,UVALDE CISD,0.0,C,2019

In [34]:
# Dropping rows that contain middle school to match HAR data
int_school_rating1_df = int_school_ratinga_df.drop(int_school_ratinga_df.loc[int_school_ratinga_df.school.str.contains("MIDDLE")].index)
int_school_rating1_df

,campus_number,school,district,yrs_unacceptable,rating,year
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B,2019
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F,2019
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C,2019
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C,2019
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN,2019
...,...,...,...,...,...,...
8862,232903102,DALTON EL,UVALDE CISD,0.0,C,2019
8863,232903103,ROBB EL,UVALDE CISD,2.0,F,2019
8864,232903104,ANTHON EL,UVALDE CISD,0.0,C,2019
8865,232903108,BATESVILLE SCHOOL,UVALDE CISD,1.0,F,2019
8866,232903110,FLORES EL,UVALDE CISD,0.0,C,2019

In [35]:
# checking for NANs
int_school_rating1_df.isna().sum()

campus_number         0
school                0
district              0
yrs_unacceptable      0
rating              187
year                  0
dtype: int64

In [36]:
# filling NaNs
int_school_rating1_df = int_school_rating1_df.fillna("Not Rated")

In [37]:
# checking for NANs
int_school_rating1_df.isna().sum()

campus_number       0
school              0
district            0
yrs_unacceptable    0
rating              0
year                0
dtype: int64

In [38]:
# looking for unique items in column
int_school_rating1_df.rating.unique()

array(['B', 'F', 'C', 'Not Rated', 'A', 'D',
       'Not Rated: Minimum Size rules', 'Not rated: Data Integrity Issue'],
      dtype=object)

In [39]:
# replacing to get like wording 
int_school_rating2_df = int_school_rating1_df.replace({"rating" :"Not Rated: Minimum Size rules"},"Not Rated", regex = True)
int_school_rating3_df = int_school_rating2_df.replace({"rating" :"Not rated: Data Integrity Issue"},"Not Rated", regex = True)
int_school_rating3_df.head()

,campus_number,school,district,yrs_unacceptable,rating,year
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B,2019
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F,2019
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C,2019
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C,2019
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,Not Rated,2019

In [40]:
# verifying like wording
int_school_rating3_df.rating.unique()

array(['B', 'F', 'C', 'Not Rated', 'A', 'D'], dtype=object)

In [41]:
# building dataframe for customer target area
int_school_rating4_df = int_school_rating3_df.loc[(int_school_rating_df['district'] == "HOUSTON ISD")|
                                               (int_school_rating_df['district'] == "KATY ISD") |
                                               (int_school_rating_df['district'] == "SHELDON ISD") |
                                               (int_school_rating_df['district'] == "SPRING BRANCH ISD") |
                                               (int_school_rating_df['district'] == "GALENA PARK ISD") |
                                               (int_school_rating_df['district'] == "CYPRESS-FAIRBANKS ISD") 
                                               ]
int_school_rating4_df

,campus_number,school,district,yrs_unacceptable,rating,year
1318,101907002,CY-FAIR H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
1319,101907003,JERSEY VILLAGE H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
1320,101907004,CYPRESS CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
1321,101907005,LANGHAM CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
1322,101907007,CYPRESS FALLS H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
...,...,...,...,...,...,...
2389,101920128,THE WILDCAT WAY SCHOOL,SPRING BRANCH ISD,0.0,A,2019
2390,101920129,THE PANDA PATH SCHOOL,SPRING BRANCH ISD,0.0,B,2019
2391,101920130,THE LION LANE SCHOOL,SPRING BRANCH ISD,0.0,B,2019
2392,101920131,THE BEAR BLVD SCHOOL,SPRING BRANCH ISD,0.0,A,2019
2393,101920132,THE TIGER TRAIL SCHOOL,SPRING BRANCH ISD,0.0,C,2019

In [42]:
# adding high schools that are on edge of target area (outside of ISD) but still gets kids because of zoning
new_df = int_school_rating3_df.loc[(int_school_rating3_df['campus_number'] =='101911002')]
new1_df = int_school_rating3_df.loc[(int_school_rating3_df['campus_number'] =='101902003')]
new2_df = int_school_rating3_df.loc[(int_school_rating3_df['campus_number'] =='101919001')]

In [43]:
# adding schools to df
int_school_rating5_df = int_school_rating4_df.append(new_df, ignore_index=True)
int_school_rating6_df = int_school_rating5_df.append(new1_df, ignore_index=True)
int_school_rating7_df = int_school_rating6_df.append(new2_df, ignore_index=True)
int_school_rating7_df

,campus_number,school,district,yrs_unacceptable,rating,year
0,101907002,CY-FAIR H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
1,101907003,JERSEY VILLAGE H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
2,101907004,CYPRESS CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
3,101907005,LANGHAM CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
4,101907007,CYPRESS FALLS H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
...,...,...,...,...,...,...
452,101920131,THE BEAR BLVD SCHOOL,SPRING BRANCH ISD,0.0,A,2019
453,101920132,THE TIGER TRAIL SCHOOL,SPRING BRANCH ISD,0.0,C,2019
454,101911002,LEE H S,GOOSE CREEK CISD,0.0,B,2019
455,101902003,MACARTHUR H S,ALDINE ISD,0.0,C,2019
456,101919001,SPRING H S,SPRING ISD,0.0,C,2019

In [44]:
# removing elementary school that is not in the target area ISD - it was causing conflict with primary key
int_school_rating8_df = int_school_rating7_df[int_school_rating7_df.campus_number != '101907152']
int_school_rating8_df

,campus_number,school,district,yrs_unacceptable,rating,year
0,101907002,CY-FAIR H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
1,101907003,JERSEY VILLAGE H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
2,101907004,CYPRESS CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
3,101907005,LANGHAM CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
4,101907007,CYPRESS FALLS H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
...,...,...,...,...,...,...
452,101920131,THE BEAR BLVD SCHOOL,SPRING BRANCH ISD,0.0,A,2019
453,101920132,THE TIGER TRAIL SCHOOL,SPRING BRANCH ISD,0.0,C,2019
454,101911002,LEE H S,GOOSE CREEK CISD,0.0,B,2019
455,101902003,MACARTHUR H S,ALDINE ISD,0.0,C,2019
456,101919001,SPRING H S,SPRING ISD,0.0,C,2019

In [45]:
# Creating duplicate df to prevent corruption of original df
school_rating_df= int_school_rating8_df
school_rating_df

,campus_number,school,district,yrs_unacceptable,rating,year
0,101907002,CY-FAIR H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
1,101907003,JERSEY VILLAGE H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
2,101907004,CYPRESS CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
3,101907005,LANGHAM CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
4,101907007,CYPRESS FALLS H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
...,...,...,...,...,...,...
452,101920131,THE BEAR BLVD SCHOOL,SPRING BRANCH ISD,0.0,A,2019
453,101920132,THE TIGER TRAIL SCHOOL,SPRING BRANCH ISD,0.0,C,2019
454,101911002,LEE H S,GOOSE CREEK CISD,0.0,B,2019
455,101902003,MACARTHUR H S,ALDINE ISD,0.0,C,2019
456,101919001,SPRING H S,SPRING ISD,0.0,C,2019

In [46]:
# Writing to clean csv
school_rating_df.to_csv('../Resources/alt_clean_ratings.csv', index = False)

In [47]:
raw_cnum_school_df = school_rating_df[['campus_number','school']]
raw_cnum_school_df .to_csv("../Resources/raw_cnum_school.csv", index = False)
raw_cnum_school_df

    campus_number                  school
0       101907002             CY-FAIR H S
1       101907003      JERSEY VILLAGE H S
2       101907004       CYPRESS CREEK H S
3       101907005       LANGHAM CREEK H S
4       101907007       CYPRESS FALLS H S
..            ...                     ...
452     101920131    THE BEAR BLVD SCHOOL
453     101920132  THE TIGER TRAIL SCHOOL
454     101911002                 LEE H S
455     101902003           MACARTHUR H S
456     101919001              SPRING H S

[456 rows x 2 columns]

In [48]:
raw_junction = pd.merge_ordered(all_mls_schools_df, raw_cnum_school_df, fill_method='ffill', left_by='school')
raw_junction.to_csv("../Resources/raw_junction.csv", index = False)
raw_junction

         mls                             school campus_number
0   90227486             GREGORY-LINCOLN ED CTR     101912058
1   76269817             GREGORY-LINCOLN ED CTR     101912058
2   44013547             GREGORY-LINCOLN ED CTR     101912058
3   78420188             GREGORY-LINCOLN ED CTR     101912058
4   32279965             GREGORY-LINCOLN ED CTR     101912058
5   12892280             GREGORY-LINCOLN ED CTR     101912058
6   47688089             GREGORY-LINCOLN ED CTR     101912058
7   14702643             GREGORY-LINCOLN ED CTR     101912058
8   23353569             GREGORY-LINCOLN ED CTR     101912058
9   95756492             GREGORY-LINCOLN ED CTR     101912058
10  52061919             GREGORY-LINCOLN ED CTR     101912058
11  13938486             GREGORY-LINCOLN ED CTR     101912058
12  77592370             GREGORY-LINCOLN ED CTR     101912058
13  87702589             GREGORY-LINCOLN ED CTR     101912058
14   8797838             GREGORY-LINCOLN ED CTR     101912058
15  59046521             GREGORY-LINCOLN ED CTR     101912058
16  29513112             GREGORY-LINCOLN ED CTR     101912058
17  82691736             GREGORY-LINCOLN ED CTR     101912058
18  13863906             GREGORY-LINCOLN ED CTR     101912058
19  71466098             GREGORY-LINCOLN ED CTR     101912058
20  95801397             GREGORY-LINCOLN ED CTR     101912058
21  49786342             GREGORY-LINCOLN ED CTR     101912058
22  89590051             GREGORY-LINCOLN ED CTR     101912058
23  49821838             GREGORY-LINCOLN ED CTR     101912058
24  67264587             GREGORY-LINCOLN ED CTR     101912058
25  21315276             GREGORY-LINCOLN ED CTR     101912058
26  43111391  WHARTON K-8 DUAL LANGUAGE ACADEMY     101912256
27  11725906                       MACGREGOR EL     101912201
28  56775365                       MACGREGOR EL     101912201
29  90227486                          LAMAR H S     101912008
30  76269817                          LAMAR H S     101912008
31  44013547                          LAMAR H S     101912008
32  78420188                          LAMAR H S     101912008
33  32279965                          LAMAR H S     101912008
34  12892280                          LAMAR H S     101912008
35  47688089                          LAMAR H S     101912008
36  14702643                          LAMAR H S     101912008
37  23353569                          LAMAR H S     101912008
38  95756492                          LAMAR H S     101912008
39  52061919                          LAMAR H S     101912008
40  13938486                          LAMAR H S     101912008
41  77592370                          LAMAR H S     101912008
42  87702589                          LAMAR H S     101912008
43   8797838                          LAMAR H S     101912008
44  43111391                          LAMAR H S     101912008
45  59046521                          LAMAR H S     101912008
46  29513112                          LAMAR H S     101912008
47  67264587                          LAMAR H S     101912008
48  21315276                          LAMAR H S     101912008
49  11725906                          LAMAR H S     101912008
50  56775365                          LAMAR H S     101912008
51  82691736                        HEIGHTS H S     101912012
52  13863906                        HEIGHTS H S     101912012
53  71466098                        HEIGHTS H S     101912012
54  95801397                        HEIGHTS H S     101912012
55  49786342                        HEIGHTS H S     101912012
56  89590051                        HEIGHTS H S     101912012
57  49821838                        HEIGHTS H S     101912012

In [49]:
# triple mls check - if dup school names in target area - will cause 3 mls nubers to show
trip_school_rating = raw_junction.pivot_table(index= ['mls'], aggfunc= 'size')
trip_school_rating.sort_values(ascending=False)

mls
8797838     2
52061919    2
95756492    2
90227486    2
89590051    2
87702589    2
82691736    2
78420188    2
77592370    2
76269817    2
71466098    2
67264587    2
59046521    2
56775365    2
49821838    2
11725906    2
49786342    2
47688089    2
44013547    2
43111391    2
32279965    2
29513112    2
23353569    2
21315276    2
14702643    2
13938486    2
13863906    2
12892280    2
95801397    2
dtype: int64

In [50]:
sorted_raw_junction = raw_junction.sort_values(by=['mls'])
sorted_raw_junction

         mls                             school campus_number
43   8797838                          LAMAR H S     101912008
14   8797838             GREGORY-LINCOLN ED CTR     101912058
27  11725906                       MACGREGOR EL     101912201
49  11725906                          LAMAR H S     101912008
34  12892280                          LAMAR H S     101912008
5   12892280             GREGORY-LINCOLN ED CTR     101912058
18  13863906             GREGORY-LINCOLN ED CTR     101912058
52  13863906                        HEIGHTS H S     101912012
40  13938486                          LAMAR H S     101912008
11  13938486             GREGORY-LINCOLN ED CTR     101912058
36  14702643                          LAMAR H S     101912008
7   14702643             GREGORY-LINCOLN ED CTR     101912058
25  21315276             GREGORY-LINCOLN ED CTR     101912058
48  21315276                          LAMAR H S     101912008
8   23353569             GREGORY-LINCOLN ED CTR     101912058
37  23353569                          LAMAR H S     101912008
46  29513112                          LAMAR H S     101912008
16  29513112             GREGORY-LINCOLN ED CTR     101912058
33  32279965                          LAMAR H S     101912008
4   32279965             GREGORY-LINCOLN ED CTR     101912058
26  43111391  WHARTON K-8 DUAL LANGUAGE ACADEMY     101912256
44  43111391                          LAMAR H S     101912008
31  44013547                          LAMAR H S     101912008
2   44013547             GREGORY-LINCOLN ED CTR     101912058
6   47688089             GREGORY-LINCOLN ED CTR     101912058
35  47688089                          LAMAR H S     101912008
21  49786342             GREGORY-LINCOLN ED CTR     101912058
55  49786342                        HEIGHTS H S     101912012
23  49821838             GREGORY-LINCOLN ED CTR     101912058
57  49821838                        HEIGHTS H S     101912012
10  52061919             GREGORY-LINCOLN ED CTR     101912058
39  52061919                          LAMAR H S     101912008
50  56775365                          LAMAR H S     101912008
28  56775365                       MACGREGOR EL     101912201
45  59046521                          LAMAR H S     101912008
15  59046521             GREGORY-LINCOLN ED CTR     101912058
24  67264587             GREGORY-LINCOLN ED CTR     101912058
47  67264587                          LAMAR H S     101912008
53  71466098                        HEIGHTS H S     101912012
19  71466098             GREGORY-LINCOLN ED CTR     101912058
1   76269817             GREGORY-LINCOLN ED CTR     101912058
30  76269817                          LAMAR H S     101912008
12  77592370             GREGORY-LINCOLN ED CTR     101912058
41  77592370                          LAMAR H S     101912008
32  78420188                          LAMAR H S     101912008
3   78420188             GREGORY-LINCOLN ED CTR     101912058
17  82691736             GREGORY-LINCOLN ED CTR     101912058
51  82691736                        HEIGHTS H S     101912012
42  87702589                          LAMAR H S     101912008
13  87702589             GREGORY-LINCOLN ED CTR     101912058
22  89590051             GREGORY-LINCOLN ED CTR     101912058
56  89590051                        HEIGHTS H S     101912012
29  90227486                          LAMAR H S     101912008
0   90227486             GREGORY-LINCOLN ED CTR     101912058
38  95756492                          LAMAR H S     101912008
9   95756492             GREGORY-LINCOLN ED CTR     101912058
20  95801397             GREGORY-LINCOLN ED CTR     101912058
54  95801397                        HEIGHTS H S     101912012

In [51]:
raw_har2_df = sorted_raw_junction.drop(['school'], axis =1)
raw_har2_df

         mls campus_number
43   8797838     101912008
14   8797838     101912058
27  11725906     101912201
49  11725906     101912008
34  12892280     101912008
5   12892280     101912058
18  13863906     101912058
52  13863906     101912012
40  13938486     101912008
11  13938486     101912058
36  14702643     101912008
7   14702643     101912058
25  21315276     101912058
48  21315276     101912008
8   23353569     101912058
37  23353569     101912008
46  29513112     101912008
16  29513112     101912058
33  32279965     101912008
4   32279965     101912058
26  43111391     101912256
44  43111391     101912008
31  44013547     101912008
2   44013547     101912058
6   47688089     101912058
35  47688089     101912008
21  49786342     101912058
55  49786342     101912012
23  49821838     101912058
57  49821838     101912012
10  52061919     101912058
39  52061919     101912008
50  56775365     101912008
28  56775365     101912201
45  59046521     101912008
15  59046521     101912058
24  67264587     101912058
47  67264587     101912008
53  71466098     101912012
19  71466098     101912058
1   76269817     101912058
30  76269817     101912008
12  77592370     101912058
41  77592370     101912008
32  78420188     101912008
3   78420188     101912058
17  82691736     101912058
51  82691736     101912012
42  87702589     101912008
13  87702589     101912058
22  89590051     101912058
56  89590051     101912012
29  90227486     101912008
0   90227486     101912058
38  95756492     101912008
9   95756492     101912058
20  95801397     101912058
54  95801397     101912012

In [52]:
# # Writing to clean csv
raw_har2_df .to_csv("../Resources/raw_har2.csv", index = False)

## Junction Table

In [53]:
# Store csv into df
csv_file= "../Resources/raw_HAR2.csv"
junction_df= pd.read_csv(csv_file)
junction_df

         mls  campus_number
0    8797838      101912008
1    8797838      101912058
2   11725906      101912201
3   11725906      101912008
4   12892280      101912008
5   12892280      101912058
6   13863906      101912058
7   13863906      101912012
8   13938486      101912008
9   13938486      101912058
10  14702643      101912008
11  14702643      101912058
12  21315276      101912058
13  21315276      101912008
14  23353569      101912058
15  23353569      101912008
16  29513112      101912008
17  29513112      101912058
18  32279965      101912008
19  32279965      101912058
20  43111391      101912256
21  43111391      101912008
22  44013547      101912008
23  44013547      101912058
24  47688089      101912058
25  47688089      101912008
26  49786342      101912058
27  49786342      101912012
28  49821838      101912058
29  49821838      101912012
30  52061919      101912058
31  52061919      101912008
32  56775365      101912008
33  56775365      101912201
34  59046521      101912008
35  59046521      101912058
36  67264587      101912058
37  67264587      101912008
38  71466098      101912012
39  71466098      101912058
40  76269817      101912058
41  76269817      101912008
42  77592370      101912058
43  77592370      101912008
44  78420188      101912008
45  78420188      101912058
46  82691736      101912058
47  82691736      101912012
48  87702589      101912008
49  87702589      101912058
50  89590051      101912058
51  89590051      101912012
52  90227486      101912008
53  90227486      101912058
54  95756492      101912008
55  95756492      101912058
56  95801397      101912058
57  95801397      101912012

# Load to SQL

In [54]:
# Connect to local database
rds_connection_string = f"{username}:{password}@localhost:5432/etl_team5"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [55]:
# Use pandas to load transformed df into table school_rating_df
school_rating_df.to_sql(name='school_rating', con=engine, if_exists='replace', index=False)

In [56]:
# Use pandas to load transformed df into table mls
HAR_df.to_sql(name='mls', con=engine, if_exists='replace', index=False)

In [57]:
# Use pandas to load transformed df into table junction_table
junction_df.to_sql(name='junction_table', con=engine, if_exists='replace', index=False)

## SQL Query of tables

In [58]:
# Confirm data has been added by querying the school_rating table
pd.read_sql_query('select * from school_rating', con=engine).head()

,campus_number,school,district,yrs_unacceptable,rating,year
0,101907002,CY-FAIR H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
1,101907003,JERSEY VILLAGE H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
2,101907004,CYPRESS CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019
3,101907005,LANGHAM CREEK H S,CYPRESS-FAIRBANKS ISD,0.0,A,2019
4,101907007,CYPRESS FALLS H S,CYPRESS-FAIRBANKS ISD,0.0,B,2019

In [59]:
# Confirm data has been added by querying the mls table
pd.read_sql_query('select * from mls', con=engine).head()

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,90227486,2403,Austin Street,None,Houston,77004,Harris,Austin Skyline,Single-Family,2015,...,Contemporary/Modern,445000,16,Midtown - Houston,150,150,9/9/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
1,76269817,3123,Austin Street,None,Houston,77004,Harris,Montione Vls/Elgin Pt Rep,Single-Family,2014,...,Mediterranean,489000,16,Midtown - Houston,30,30,1/7/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
2,44013547,3108,Crawford Street,None,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,429000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
3,78420188,3110,Crawford Street,None,Houston,77004,Harris,Midtown,Single-Family,0,...,Contemporary/Modern,439000,16,Midtown - Houston,135,135,9/24/2020,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S
4,32279965,1804,Dennis Street,None,Houston,77004,Harris,Weekley at Chenvert,Single-Family,2014,...,"Contemporary/Modern, Traditional",404000,16,Midtown - Houston,36,36,1/1/2021,HOUSTON ISD,GREGORY-LINCOLN ED CTR,LAMAR H S

In [60]:
# Confirm data has been added by querying the junction_table table
pd.read_sql_query('select * from junction_table', con=engine).head()

        mls  campus_number
0   8797838      101912008
1   8797838      101912058
2  11725906      101912201
3  11725906      101912008
4  12892280      101912008

In [61]:
# Check for tables
engine.table_names()

['school_rating', 'mls', 'junction_table']