# Project 2 - Team 4

## Objective

Obtain resources from Multiple Listing Service and State of Texas websites to extract, transform, and load csv files to conduct an informative analysis in the future to help our clients to find the perfect house with the perfect school.

## Type DataBase
â€¢	SQL Postgres

## HAR Data

### Extraction

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from secrets import username, password

In [2]:
# Store csv into df
csv_file= "../Resources/HAR.csv" 
raw_har_df= pd.read_csv(csv_file)
raw_har_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,242718,5407,Chevy Chase Drive,NaN,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,Traditional,875000,22,Galleria,85,85,44148,HOUSTON ISD,BRIARGROVE ELEMENTARY,WISDOM HIGH SCHOOL
1,296833,4011,Starbright Street,NaN,Houston,77018,Harris,Oak Forest Manor,Single-Family,2020,...,Traditional,378170,9,Oak Forest East Area,337,337,43896,HOUSTON ISD,OAK FOREST ELEMENTARY,WALTRIP HIGH SCHOOL
2,468622,1030,Creekmont Drive,NaN,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,Traditional,355999,9,Shepherd Park Plaza Area,50,50,44176,HOUSTON ISD,HIGHLAND HTS ELEMENTARY,WASHINGTON B T HIGH SCHOOL
3,474952,42,Broad Oaks Drive,NaN,Houston,77056,Harris,Broad Oaks,Single-Family,1964,...,Traditional,1390000,22,Tanglewood Area,184,184,44049,HOUSTON ISD,BRIARGROVE ELEMENTARY,WISDOM HIGH SCHOOL
4,531033,12322,Honeywood Trail,NaN,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,Traditional,850000,31,Energy Corridor,105,105,44128,HOUSTON ISD,SHADOWBRIAR ELEMENTARY,WESTSIDE HIGH SCHOOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,98662125,9907,Adeline Lane,NaN,Houston,77054,Harris,Buffalo Speedway,Single-Family,2004,...,Traditional,309999,18,Medical Center Area,5,593,44228,HOUSTON ISD,SHEARN ELEMENTARY,MADISON HIGH SCHOOL
3237,98769547,3765,Drummond Street,NaN,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,Traditional,1399000,17,Braeswood Place,24,24,44209,HOUSTON ISD,TWAIN ELEMENTARY,LAMAR HIGH SCHOOL
3238,98783237,6403,Newcastle,NaN,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,Contemporary/Modern,1995000,17,Bellaire Area,89,89,44053,HOUSTON ISD,HORN ELEMENTARY,BELLAIRE HIGH SCHOOL
3239,98915588,2414,Freeman,NaN,Houston,77009,Harris,Allen A C,Single-Family,1930,...,Traditional,425000,9,Northside,64,206,44169,HOUSTON ISD,KETELSEN ELEMENTARY,NORTHSIDE HIGH SCHOOL
3240,98990945,13918,Swiss Hill Drive,NaN,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,Traditional,305000,31,Energy Corridor,99,99,44134,HOUSTON ISD,BUSH ELEMENTARY,WESTSIDE HIGH SCHOOL

### Transformation

In [3]:
# replace elementary with el to match TEA table
raw_har1_df= raw_har_df.replace({"elementary" :"ELEMENTARY"}, "EL", regex = True)
raw_har1_df.fillna('',inplace=True)
raw_har1_df.head()

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,242718,5407,Chevy Chase Drive,,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,Traditional,875000,22,Galleria,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM HIGH SCHOOL
1,296833,4011,Starbright Street,,Houston,77018,Harris,Oak Forest Manor,Single-Family,2020,...,Traditional,378170,9,Oak Forest East Area,337,337,43896,HOUSTON ISD,OAK FOREST EL,WALTRIP HIGH SCHOOL
2,468622,1030,Creekmont Drive,,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,Traditional,355999,9,Shepherd Park Plaza Area,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T HIGH SCHOOL
3,474952,42,Broad Oaks Drive,,Houston,77056,Harris,Broad Oaks,Single-Family,1964,...,Traditional,1390000,22,Tanglewood Area,184,184,44049,HOUSTON ISD,BRIARGROVE EL,WISDOM HIGH SCHOOL
4,531033,12322,Honeywood Trail,,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,Traditional,850000,31,Energy Corridor,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE HIGH SCHOOL

In [4]:
# replace high school with h s to match TEA table
customer_data_df = raw_har1_df.replace({"high_school" :"HIGH SCHOOL"}, "H S", regex = True)
customer_data_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,242718,5407,Chevy Chase Drive,,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,Traditional,875000,22,Galleria,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S
1,296833,4011,Starbright Street,,Houston,77018,Harris,Oak Forest Manor,Single-Family,2020,...,Traditional,378170,9,Oak Forest East Area,337,337,43896,HOUSTON ISD,OAK FOREST EL,WALTRIP H S
2,468622,1030,Creekmont Drive,,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,Traditional,355999,9,Shepherd Park Plaza Area,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S
3,474952,42,Broad Oaks Drive,,Houston,77056,Harris,Broad Oaks,Single-Family,1964,...,Traditional,1390000,22,Tanglewood Area,184,184,44049,HOUSTON ISD,BRIARGROVE EL,WISDOM H S
4,531033,12322,Honeywood Trail,,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,Traditional,850000,31,Energy Corridor,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,98662125,9907,Adeline Lane,,Houston,77054,Harris,Buffalo Speedway,Single-Family,2004,...,Traditional,309999,18,Medical Center Area,5,593,44228,HOUSTON ISD,SHEARN EL,MADISON H S
3237,98769547,3765,Drummond Street,,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,Traditional,1399000,17,Braeswood Place,24,24,44209,HOUSTON ISD,TWAIN EL,LAMAR H S
3238,98783237,6403,Newcastle,,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,Contemporary/Modern,1995000,17,Bellaire Area,89,89,44053,HOUSTON ISD,HORN EL,BELLAIRE H S
3239,98915588,2414,Freeman,,Houston,77009,Harris,Allen A C,Single-Family,1930,...,Traditional,425000,9,Northside,64,206,44169,HOUSTON ISD,KETELSEN EL,NORTHSIDE H S
3240,98990945,13918,Swiss Hill Drive,,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,Traditional,305000,31,Energy Corridor,99,99,44134,HOUSTON ISD,BUSH EL,WESTSIDE H S

In [5]:
# Total info
customer_data_df.shape

(3241, 29)

In [6]:
# Columns list
customer_data_df.columns

Index(['mls', 'street_number', 'street_name', 'unit', 'city', 'zip', 'county',
       'subdivision', 'home_type', 'year_built', 'bedrooms', 'full_baths',
       'half_baths', 'total_baths', 'room_count', 'fireplaces', 'stories',
       'pool_private', 'garages', 'style', 'list_price', 'market_area', 'area',
       'dom', 'cdom', 'list_date', 'school_district', 'elementary',
       'high_school'],
      dtype='object')

In [7]:
# Navigate a single column
customer_data_df['city']

0        Houston
1        Houston
2        Houston
3        Houston
4        Houston
          ...
3236     Houston
3237     Houston
3238    Bellaire
3239     Houston
3240     Houston
Name: city, Length: 3241, dtype: object

In [8]:
# Replace null values with "0"
# customer_data_df['fireplaces']= customer_data_df['fireplaces'].fillna(0)

In [9]:
# Check replacement
# customer_data_df['fireplaces']

In [10]:
# Replace null values with "0"
# customer_data_df['garages']= customer_data_df['garages'].fillna(0)

In [11]:
# Checking unique values
# customer_data_df.nunique()

In [12]:
# Checking unique values
customer_data_df.nunique().count()

29

In [13]:
# isna/isnull
# customer_data_df.isna().sum()

In [14]:
# Data types
# customer_data_df.dtypes

In [15]:
# Create new df
HAR_df= customer_data_df
HAR_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,style,list_price,market_area,area,dom,cdom,list_date,school_district,elementary,high_school
0,242718,5407,Chevy Chase Drive,,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,Traditional,875000,22,Galleria,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S
1,296833,4011,Starbright Street,,Houston,77018,Harris,Oak Forest Manor,Single-Family,2020,...,Traditional,378170,9,Oak Forest East Area,337,337,43896,HOUSTON ISD,OAK FOREST EL,WALTRIP H S
2,468622,1030,Creekmont Drive,,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,Traditional,355999,9,Shepherd Park Plaza Area,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S
3,474952,42,Broad Oaks Drive,,Houston,77056,Harris,Broad Oaks,Single-Family,1964,...,Traditional,1390000,22,Tanglewood Area,184,184,44049,HOUSTON ISD,BRIARGROVE EL,WISDOM H S
4,531033,12322,Honeywood Trail,,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,Traditional,850000,31,Energy Corridor,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,98662125,9907,Adeline Lane,,Houston,77054,Harris,Buffalo Speedway,Single-Family,2004,...,Traditional,309999,18,Medical Center Area,5,593,44228,HOUSTON ISD,SHEARN EL,MADISON H S
3237,98769547,3765,Drummond Street,,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,Traditional,1399000,17,Braeswood Place,24,24,44209,HOUSTON ISD,TWAIN EL,LAMAR H S
3238,98783237,6403,Newcastle,,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,Contemporary/Modern,1995000,17,Bellaire Area,89,89,44053,HOUSTON ISD,HORN EL,BELLAIRE H S
3239,98915588,2414,Freeman,,Houston,77009,Harris,Allen A C,Single-Family,1930,...,Traditional,425000,9,Northside,64,206,44169,HOUSTON ISD,KETELSEN EL,NORTHSIDE H S
3240,98990945,13918,Swiss Hill Drive,,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,Traditional,305000,31,Energy Corridor,99,99,44134,HOUSTON ISD,BUSH EL,WESTSIDE H S

In [16]:
# HAR_df.to_csv("../Resources/harelementary.csv", index = False)

### Retrieving Latitude and Longitude

In [17]:
# Creating addresses df
orig_addresses_df = HAR_df[['mls','street_number','street_name','unit','city','zip']]
orig_addresses_df.insert(5,'state','Texas')

orig_addresses_df

           mls  street_number        street_name unit      city  state    zip
0       242718           5407  Chevy Chase Drive        Houston  Texas  77056
1       296833           4011  Starbright Street        Houston  Texas  77018
2       468622           1030    Creekmont Drive        Houston  Texas  77091
3       474952             42   Broad Oaks Drive        Houston  Texas  77056
4       531033          12322    Honeywood Trail        Houston  Texas  77077
...        ...            ...                ...  ...       ...    ...    ...
3236  98662125           9907       Adeline Lane        Houston  Texas  77054
3237  98769547           3765    Drummond Street        Houston  Texas  77025
3238  98783237           6403          Newcastle       Bellaire  Texas  77401
3239  98915588           2414            Freeman        Houston  Texas  77009
3240  98990945          13918   Swiss Hill Drive        Houston  Texas  77077

[3241 rows x 7 columns]

In [18]:
orig_addresses_df['full_address'] = orig_addresses_df['street_number'].map(str)+' '+orig_addresses_df['street_name'].map(str)+', '+orig_addresses_df['city'].map(str)+', '+orig_addresses_df['state'].map(str)+', '+orig_addresses_df['zip'].map(str)
orig_addresses_df

<ipython-input-18-3295fb9f47e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orig_addresses_df['full_address'] = orig_addresses_df['street_number'].map(str)+' '+orig_addresses_df['street_name'].map(str)+', '+orig_addresses_df['city'].map(str)+', '+orig_addresses_df['state'].map(str)+', '+orig_addresses_df['zip'].map(str)

,mls,street_number,street_name,unit,city,state,zip,full_address
0,242718,5407,Chevy Chase Drive,,Houston,Texas,77056,"5407 Chevy Chase Drive, Houston, Texas, 77056"
1,296833,4011,Starbright Street,,Houston,Texas,77018,"4011 Starbright Street, Houston, Texas, 77018"
2,468622,1030,Creekmont Drive,,Houston,Texas,77091,"1030 Creekmont Drive, Houston, Texas, 77091"
3,474952,42,Broad Oaks Drive,,Houston,Texas,77056,"42 Broad Oaks Drive, Houston, Texas, 77056"
4,531033,12322,Honeywood Trail,,Houston,Texas,77077,"12322 Honeywood Trail, Houston, Texas, 77077"
...,...,...,...,...,...,...,...,...
3236,98662125,9907,Adeline Lane,,Houston,Texas,77054,"9907 Adeline Lane, Houston, Texas, 77054"
3237,98769547,3765,Drummond Street,,Houston,Texas,77025,"3765 Drummond Street, Houston, Texas, 77025"
3238,98783237,6403,Newcastle,,Bellaire,Texas,77401,"6403 Newcastle, Bellaire, Texas, 77401"
3239,98915588,2414,Freeman,,Houston,Texas,77009,"2414 Freeman, Houston, Texas, 77009"
3240,98990945,13918,Swiss Hill Drive,,Houston,Texas,77077,"13918 Swiss Hill Drive, Houston, Texas, 77077"

In [19]:
addresses_df = orig_addresses_df.drop(['street_number','street_name','city','state','zip'], axis =1)
addresses_df

           mls unit                                   full_address
0       242718       5407 Chevy Chase Drive, Houston, Texas, 77056
1       296833       4011 Starbright Street, Houston, Texas, 77018
2       468622         1030 Creekmont Drive, Houston, Texas, 77091
3       474952          42 Broad Oaks Drive, Houston, Texas, 77056
4       531033        12322 Honeywood Trail, Houston, Texas, 77077
...        ...  ...                                            ...
3236  98662125            9907 Adeline Lane, Houston, Texas, 77054
3237  98769547         3765 Drummond Street, Houston, Texas, 77025
3238  98783237              6403 Newcastle, Bellaire, Texas, 77401
3239  98915588                 2414 Freeman, Houston, Texas, 77009
3240  98990945       13918 Swiss Hill Drive, Houston, Texas, 77077

[3241 rows x 3 columns]

In [20]:
#******This block of code takes an hour to run due to the time delay required by geopy for free accounts.******  
#****The geocode data has been saved to a .csv that is then read for the remainder of the Jupyter Notebook.****

# Dependencies

#https://geopy.readthedocs.io/en/latest/#specifying-parameters-once
#conda install -c conda-forge geopy

# from geopy.geocoders import Nominatim
# from geopy.extra.rate_limiter import RateLimiter

# loc_address = []
# lat = []
# long = []
# coordinates = []

# geolocator = Nominatim(user_agent="team5")

# geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# for full_address in addresses_df['full_address']:
#     try:
#         inputAddress = full_address
#         location = geolocator.geocode(inputAddress)  #, timeout=15
#         coordinates.append((location.latitude, location.longitude))
#         loc_address.append(inputAddress)
#         lat.append((location.latitude))
#         long.append((location.longitude))
#     except Exception as e:
#         print('Error, skipping address...', e)
 
        
# geocodes_df = pd.DataFrame({'full_address':loc_address,'latitude':lat,'longitude':long,'geocode':coordinates})

# geocodes_df

In [21]:
# # Merge to reconnect mls

# coord_df=pd.merge(addresses_df,geocodes_df,on = "full_address")

# coord_df.drop_duplicates(subset=['mls'])

# coord_df

In [22]:
# # Merge to reconnect mls

# final_HAR_df = pd.merge(HAR_df,coord_df,on = "mls")

# final_HAR_df.drop_duplicates(subset=['mls'])

# final_HAR_df.to_csv('final_HAR.csv')
# final_HAR_df

### Convert a pandas dataframe to geojson for web-mapping

In [23]:
#******This block of code requires the dataframe "final_HAR_df" created in previous section. *****

In [24]:
# Read csv into df for project purposes
csv_file= "../Resources/final_HAR.csv"
final_HAR_df= pd.read_csv(csv_file)
final_HAR_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude,geocode
0,242718,5407,Chevy Chase Drive,NaN,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5407 Chevy Chase Drive, Houston, Texas, 77056",29.745153,-95.469331,"(29.745153271930764, -95.46933089200235)"
1,468622,1030,Creekmont Drive,NaN,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S,"1030 Creekmont Drive, Houston, Texas, 77091",29.842554,-95.422701,"(29.842554067913653, -95.42270099251903)"
2,531033,12322,Honeywood Trail,NaN,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S,"12322 Honeywood Trail, Houston, Texas, 77077",29.758936,-95.599915,"(29.758936228182634, -95.59991514697579)"
3,535780,5708,Dolores Street,E,Houston,77057,Harris,Delores Place Estates,Single-Family,2007,...,32,406,44201,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5708 Dolores Street, Houston, Texas, 77057",29.734376,-95.478795,"(29.73437636363636, -95.47879481818181)"
4,754009,4630,Kermit,NaN,Houston,77009,Harris,Sojourner,Single-Family,2021,...,18,18,44215,HOUSTON ISD,BROWNING EL,HEIGHTS H S,"4630 Kermit, Houston, Texas, 77009",29.797685,-95.383900,"(29.797684538188538, -95.38389982622054)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,98652314,6131,Cedar Creek Drive,NaN,Houston,77057,Harris,Briargrove Sec 08,Single-Family,2001,...,142,142,44091,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"6131 Cedar Creek Drive, Houston, Texas, 77057",29.750782,-95.490779,"(29.750781773957833, -95.49077900573519)"
2794,98769547,3765,Drummond Street,NaN,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,24,24,44209,HOUSTON ISD,TWAIN EL,LAMAR H S,"3765 Drummond Street, Houston, Texas, 77025",29.695991,-95.436034,"(29.695990884253007, -95.43603430345617)"
2795,98783237,6403,Newcastle,NaN,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,89,89,44053,HOUSTON ISD,HORN EL,BELLAIRE H S,"6403 Newcastle, Bellaire, Texas, 77401",29.705658,-95.451301,"(29.7056577, -95.4513012)"
2796,98915588,2414,Freeman,NaN,Houston,77009,Harris,Allen A C,Single-Family,1930,...,64,206,44169,HOUSTON ISD,KETELSEN EL,NORTHSIDE H S,"2414 Freeman, Houston, Texas, 77009",29.782551,-95.363677,"(29.78255085714286, -95.36367742857142)"
2797,98990945,13918,Swiss Hill Drive,NaN,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,99,99,44134,HOUSTON ISD,BUSH EL,WESTSIDE H S,"13918 Swiss Hill Drive, Houston, Texas, 77077",29.766962,-95.632302,"(29.766961636363636, -95.63230218181819)"

In [25]:
#Attribution: https://github.com/gboeing/ppd599/blob/3faf7e028d48cb03ddb999c5a910213c5384e7dc/17-Leaflet-Web-Mapping/leaflet-simple-demo/pandas-to-geojson.ipynb

In [26]:
import pandas as pd, requests, json
import json
from geojson import Feature, FeatureCollection, Point

In [27]:
# Convert lat-long to floats
final_HAR_df['latitude'] = final_HAR_df['latitude'].astype(float)
final_HAR_df['longitude'] = final_HAR_df['longitude'].astype(float)

In [28]:
# Kept Columns
useful_cols = ['mls', 'street_number', 'street_name', 'unit', 'city', 'zip','county', 'subdivision', 'home_type', 'year_built', 'bedrooms', 'full_baths', 'half_baths', 'total_baths', 'fireplaces', 'stories','pool_private', 'garages', 'style', 'list_price', 'market_area', 'area', 'dom', 'cdom', 'list_date', 'school_district', 'elementary','high_school','full_address','latitude','longitude']
df_subset = final_HAR_df[useful_cols]

In [29]:
# Drop any rows that lack lat/long data
df_geo = df_subset.dropna(subset=['latitude', 'longitude'], axis=0, inplace=False)

df_geo = df_geo.applymap(str)

print('We have {} geotagged rows'.format(len(df_geo)))
df_geo.tail()

We have 2798 geotagged rows

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,area,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude
2793,98652314,6131,Cedar Creek Drive,nan,Houston,77057,Harris,Briargrove Sec 08,Single-Family,2001,...,Briargrove,142,142,44091,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"6131 Cedar Creek Drive, Houston, Texas, 77057",29.75078177,-95.49077901
2794,98769547,3765,Drummond Street,nan,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,Braeswood Place,24,24,44209,HOUSTON ISD,TWAIN EL,LAMAR H S,"3765 Drummond Street, Houston, Texas, 77025",29.69599088,-95.4360343
2795,98783237,6403,Newcastle,nan,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,Bellaire Area,89,89,44053,HOUSTON ISD,HORN EL,BELLAIRE H S,"6403 Newcastle, Bellaire, Texas, 77401",29.7056577,-95.4513012
2796,98915588,2414,Freeman,nan,Houston,77009,Harris,Allen A C,Single-Family,1930,...,Northside,64,206,44169,HOUSTON ISD,KETELSEN EL,NORTHSIDE H S,"2414 Freeman, Houston, Texas, 77009",29.78255086,-95.36367743
2797,98990945,13918,Swiss Hill Drive,nan,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,Energy Corridor,99,99,44134,HOUSTON ISD,BUSH EL,WESTSIDE H S,"13918 Swiss Hill Drive, Houston, Texas, 77077",29.76696164,-95.63230218

In [30]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    
#     Turn a dataframe containing point data into a geojson formatted python dictionary
    
#     df : the dataframe to convert to geojson
#     properties : a list of columns in the dataframe to turn into geojson feature properties
#     lat : the name of the column in the dataframe that contains latitude data
#     lon : the name of the column in the dataframe that contains longitude data
    
    
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [31]:
# Columns for use as Properties
useful_columns = ['mls', 'street_number', 'street_name', 'unit', 'city', 'zip','county', 'subdivision', 'home_type', 'year_built', 'bedrooms', 'full_baths', 'half_baths', 'total_baths', 'fireplaces', 'stories','pool_private', 'garages', 'style', 'list_price', 'market_area', 'area', 'dom', 'cdom', 'list_date', 'school_district', 'elementary','high_school','full_address']

geojson_dict = df_to_geojson(df_geo, properties=useful_columns)
geojson_str = json.dumps(geojson_dict, indent=2)

In [32]:
# Save the geojson result to a geojson file
output_filename2 = '../data/har.geojson'
with open(output_filename2, 'w') as output_file2:
    output_file2.write('{}'.format(geojson_str))
    
# how many features did we save to the geojson file?
print('{} geotagged features saved to file'.format(len(geojson_dict['features'])))

2798 geotagged features saved to file

### School Dataframes

In [33]:
# Store csv into df
csv_file= "../Resources/final_HAR.csv"  #.csv created from geocode
final_HARraw_df= pd.read_csv(csv_file)
final_HARraw_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude,geocode
0,242718,5407,Chevy Chase Drive,NaN,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5407 Chevy Chase Drive, Houston, Texas, 77056",29.745153,-95.469331,"(29.745153271930764, -95.46933089200235)"
1,468622,1030,Creekmont Drive,NaN,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S,"1030 Creekmont Drive, Houston, Texas, 77091",29.842554,-95.422701,"(29.842554067913653, -95.42270099251903)"
2,531033,12322,Honeywood Trail,NaN,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S,"12322 Honeywood Trail, Houston, Texas, 77077",29.758936,-95.599915,"(29.758936228182634, -95.59991514697579)"
3,535780,5708,Dolores Street,E,Houston,77057,Harris,Delores Place Estates,Single-Family,2007,...,32,406,44201,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5708 Dolores Street, Houston, Texas, 77057",29.734376,-95.478795,"(29.73437636363636, -95.47879481818181)"
4,754009,4630,Kermit,NaN,Houston,77009,Harris,Sojourner,Single-Family,2021,...,18,18,44215,HOUSTON ISD,BROWNING EL,HEIGHTS H S,"4630 Kermit, Houston, Texas, 77009",29.797685,-95.383900,"(29.797684538188538, -95.38389982622054)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,98652314,6131,Cedar Creek Drive,NaN,Houston,77057,Harris,Briargrove Sec 08,Single-Family,2001,...,142,142,44091,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"6131 Cedar Creek Drive, Houston, Texas, 77057",29.750782,-95.490779,"(29.750781773957833, -95.49077900573519)"
2794,98769547,3765,Drummond Street,NaN,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,24,24,44209,HOUSTON ISD,TWAIN EL,LAMAR H S,"3765 Drummond Street, Houston, Texas, 77025",29.695991,-95.436034,"(29.695990884253007, -95.43603430345617)"
2795,98783237,6403,Newcastle,NaN,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,89,89,44053,HOUSTON ISD,HORN EL,BELLAIRE H S,"6403 Newcastle, Bellaire, Texas, 77401",29.705658,-95.451301,"(29.7056577, -95.4513012)"
2796,98915588,2414,Freeman,NaN,Houston,77009,Harris,Allen A C,Single-Family,1930,...,64,206,44169,HOUSTON ISD,KETELSEN EL,NORTHSIDE H S,"2414 Freeman, Houston, Texas, 77009",29.782551,-95.363677,"(29.78255085714286, -95.36367742857142)"
2797,98990945,13918,Swiss Hill Drive,NaN,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,99,99,44134,HOUSTON ISD,BUSH EL,WESTSIDE H S,"13918 Swiss Hill Drive, Houston, Texas, 77077",29.766962,-95.632302,"(29.766961636363636, -95.63230218181819)"

In [34]:
# replacing ELEMENTARY with EL
final_HARel_df= final_HARraw_df.replace({"elementary" :"ELEMENTARY"}, "EL", regex = True)
final_HARel_df.head()

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude,geocode
0,242718,5407,Chevy Chase Drive,NaN,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5407 Chevy Chase Drive, Houston, Texas, 77056",29.745153,-95.469331,"(29.745153271930764, -95.46933089200235)"
1,468622,1030,Creekmont Drive,NaN,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S,"1030 Creekmont Drive, Houston, Texas, 77091",29.842554,-95.422701,"(29.842554067913653, -95.42270099251903)"
2,531033,12322,Honeywood Trail,NaN,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S,"12322 Honeywood Trail, Houston, Texas, 77077",29.758936,-95.599915,"(29.758936228182634, -95.59991514697579)"
3,535780,5708,Dolores Street,E,Houston,77057,Harris,Delores Place Estates,Single-Family,2007,...,32,406,44201,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5708 Dolores Street, Houston, Texas, 77057",29.734376,-95.478795,"(29.73437636363636, -95.47879481818181)"
4,754009,4630,Kermit,NaN,Houston,77009,Harris,Sojourner,Single-Family,2021,...,18,18,44215,HOUSTON ISD,BROWNING EL,HEIGHTS H S,"4630 Kermit, Houston, Texas, 77009",29.797685,-95.383900,"(29.797684538188538, -95.38389982622054)"

In [35]:
final_HARhs_df= final_HARel_df.replace({"high_school" :"HIGH SCHOOL"}, "H S", regex = True)
final_HARhs_df.head()

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude,geocode
0,242718,5407,Chevy Chase Drive,NaN,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5407 Chevy Chase Drive, Houston, Texas, 77056",29.745153,-95.469331,"(29.745153271930764, -95.46933089200235)"
1,468622,1030,Creekmont Drive,NaN,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S,"1030 Creekmont Drive, Houston, Texas, 77091",29.842554,-95.422701,"(29.842554067913653, -95.42270099251903)"
2,531033,12322,Honeywood Trail,NaN,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S,"12322 Honeywood Trail, Houston, Texas, 77077",29.758936,-95.599915,"(29.758936228182634, -95.59991514697579)"
3,535780,5708,Dolores Street,E,Houston,77057,Harris,Delores Place Estates,Single-Family,2007,...,32,406,44201,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5708 Dolores Street, Houston, Texas, 77057",29.734376,-95.478795,"(29.73437636363636, -95.47879481818181)"
4,754009,4630,Kermit,NaN,Houston,77009,Harris,Sojourner,Single-Family,2021,...,18,18,44215,HOUSTON ISD,BROWNING EL,HEIGHTS H S,"4630 Kermit, Houston, Texas, 77009",29.797685,-95.383900,"(29.797684538188538, -95.38389982622054)"

In [36]:
# final_HARhs_df.to_csv("../Resources/cleanelementaryhighschool.csv", index = False)

In [37]:
final_HAR_df= final_HARhs_df
final_HAR_df.head()

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude,geocode
0,242718,5407,Chevy Chase Drive,NaN,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5407 Chevy Chase Drive, Houston, Texas, 77056",29.745153,-95.469331,"(29.745153271930764, -95.46933089200235)"
1,468622,1030,Creekmont Drive,NaN,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S,"1030 Creekmont Drive, Houston, Texas, 77091",29.842554,-95.422701,"(29.842554067913653, -95.42270099251903)"
2,531033,12322,Honeywood Trail,NaN,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S,"12322 Honeywood Trail, Houston, Texas, 77077",29.758936,-95.599915,"(29.758936228182634, -95.59991514697579)"
3,535780,5708,Dolores Street,E,Houston,77057,Harris,Delores Place Estates,Single-Family,2007,...,32,406,44201,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5708 Dolores Street, Houston, Texas, 77057",29.734376,-95.478795,"(29.73437636363636, -95.47879481818181)"
4,754009,4630,Kermit,NaN,Houston,77009,Harris,Sojourner,Single-Family,2021,...,18,18,44215,HOUSTON ISD,BROWNING EL,HEIGHTS H S,"4630 Kermit, Houston, Texas, 77009",29.797685,-95.383900,"(29.797684538188538, -95.38389982622054)"

In [38]:
# final_HAR_df.to_csv("../Resources/cleanfinalhartesting.csv", index = False)

In [39]:
final_HAR_df.fillna('',inplace=True)
final_HAR_df

,mls,street_number,street_name,unit,city,zip,county,subdivision,home_type,year_built,...,dom,cdom,list_date,school_district,elementary,high_school,full_address,latitude,longitude,geocode
0,242718,5407,Chevy Chase Drive,,Houston,77056,Harris,Del Monte Place,Single-Family,1970,...,85,85,44148,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5407 Chevy Chase Drive, Houston, Texas, 77056",29.745153,-95.469331,"(29.745153271930764, -95.46933089200235)"
1,468622,1030,Creekmont Drive,,Houston,77091,Harris,Shepherd Park Terrace Sec 01,Single-Family,1971,...,50,50,44176,HOUSTON ISD,HIGHLAND HTS EL,WASHINGTON B T H S,"1030 Creekmont Drive, Houston, Texas, 77091",29.842554,-95.422701,"(29.842554067913653, -95.42270099251903)"
2,531033,12322,Honeywood Trail,,Houston,77077,Harris,Ashford Forest Lake,Single-Family,1971,...,105,105,44128,HOUSTON ISD,SHADOWBRIAR EL,WESTSIDE H S,"12322 Honeywood Trail, Houston, Texas, 77077",29.758936,-95.599915,"(29.758936228182634, -95.59991514697579)"
3,535780,5708,Dolores Street,E,Houston,77057,Harris,Delores Place Estates,Single-Family,2007,...,32,406,44201,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"5708 Dolores Street, Houston, Texas, 77057",29.734376,-95.478795,"(29.73437636363636, -95.47879481818181)"
4,754009,4630,Kermit,,Houston,77009,Harris,Sojourner,Single-Family,2021,...,18,18,44215,HOUSTON ISD,BROWNING EL,HEIGHTS H S,"4630 Kermit, Houston, Texas, 77009",29.797685,-95.383900,"(29.797684538188538, -95.38389982622054)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,98652314,6131,Cedar Creek Drive,,Houston,77057,Harris,Briargrove Sec 08,Single-Family,2001,...,142,142,44091,HOUSTON ISD,BRIARGROVE EL,WISDOM H S,"6131 Cedar Creek Drive, Houston, Texas, 77057",29.750782,-95.490779,"(29.750781773957833, -95.49077900573519)"
2794,98769547,3765,Drummond Street,,Houston,77025,Harris,Braes Heights Sec 09,Single-Family,2007,...,24,24,44209,HOUSTON ISD,TWAIN EL,LAMAR H S,"3765 Drummond Street, Houston, Texas, 77025",29.695991,-95.436034,"(29.695990884253007, -95.43603430345617)"
2795,98783237,6403,Newcastle,,Bellaire,77401,Harris,Westmoreland Farms,Single-Family,2003,...,89,89,44053,HOUSTON ISD,HORN EL,BELLAIRE H S,"6403 Newcastle, Bellaire, Texas, 77401",29.705658,-95.451301,"(29.7056577, -95.4513012)"
2796,98915588,2414,Freeman,,Houston,77009,Harris,Allen A C,Single-Family,1930,...,64,206,44169,HOUSTON ISD,KETELSEN EL,NORTHSIDE H S,"2414 Freeman, Houston, Texas, 77009",29.782551,-95.363677,"(29.78255085714286, -95.36367742857142)"
2797,98990945,13918,Swiss Hill Drive,,Houston,77077,Harris,Briarhills Sec 01,Single-Family,1977,...,99,99,44134,HOUSTON ISD,BUSH EL,WESTSIDE H S,"13918 Swiss Hill Drive, Houston, Texas, 77077",29.766962,-95.632302,"(29.766961636363636, -95.63230218181819)"

In [40]:
# Creating elementary school potion of junction table
raw_mls_el_df = final_HAR_df[['mls','elementary']]
mls_el_df= raw_mls_el_df.rename(columns= {'elementary': 'school'})

mls_el_df

           mls           school
0       242718    BRIARGROVE EL
1       468622  HIGHLAND HTS EL
2       531033   SHADOWBRIAR EL
3       535780    BRIARGROVE EL
4       754009      BROWNING EL
...        ...              ...
2793  98652314    BRIARGROVE EL
2794  98769547         TWAIN EL
2795  98783237          HORN EL
2796  98915588      KETELSEN EL
2797  98990945          BUSH EL

[2798 rows x 2 columns]

In [41]:
# creating high school potion of junction table
raw_mls_hs_df = final_HAR_df[['mls', 'high_school']]
mls_hs_df= raw_mls_hs_df.rename(columns= {'high_school': 'school'})
mls_hs_df

           mls              school
0       242718          WISDOM H S
1       468622  WASHINGTON B T H S
2       531033        WESTSIDE H S
3       535780          WISDOM H S
4       754009         HEIGHTS H S
...        ...                 ...
2793  98652314          WISDOM H S
2794  98769547           LAMAR H S
2795  98783237        BELLAIRE H S
2796  98915588       NORTHSIDE H S
2797  98990945        WESTSIDE H S

[2798 rows x 2 columns]

In [42]:
# concating HAR potion of junction table
frames = [mls_el_df,mls_hs_df]
all_mls_schools_df = pd.concat(frames)
# all_mls_schools_df.to_csv('../Resources/all_mls_schools.csv', index = False)
all_mls_schools_df

           mls           school
0       242718    BRIARGROVE EL
1       468622  HIGHLAND HTS EL
2       531033   SHADOWBRIAR EL
3       535780    BRIARGROVE EL
4       754009      BROWNING EL
...        ...              ...
2793  98652314       WISDOM H S
2794  98769547        LAMAR H S
2795  98783237     BELLAIRE H S
2796  98915588    NORTHSIDE H S
2797  98990945     WESTSIDE H S

[5596 rows x 2 columns]

## TEA Data

### Extraction

In [43]:
# Store csv into df
csv_file= "../Resources/alt_school_rating_list_tea.csv"
raw_school_rating_df= pd.read_csv(csv_file)
raw_school_rating_df.head()

,Campus\nNumber,Campus,District,ESC\nRegion,Region,SBOE\nDistrict,# of Consecutive Years Campus is Academically Unacceptable,Campus 2020 Rating,Campus 2019 Rating,Campus 2018 Rating,Campus 2017 Rating,Campus 2016 Rating,Campus 2015 Rating,Campus 2014 Rating,Campus 2013 Rating,Campus 2012 Rating,Campus 2011 Rating
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,B,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,NaN,Academically Unacceptable
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,1.0,Not Rated: Declared State of Disaster,F,Met Standard,Met Standard,Met Standard,Improvement Required,Met Standard,Met Standard,NaN,Academically Unacceptable
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,C,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,NaN,Academically Acceptable
3,024901103,LASATER EL,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,C,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,Met Standard,NaN,Academically Acceptable
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,1.0,REGION 01: EDINBURG,3.0,0.0,Not Rated: Declared State of Disaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Transformation

In [44]:
# removing columns not needed
raw_school_rating1_df = raw_school_rating_df.drop(['ESC\nRegion', 'Region', 'SBOE\nDistrict','Campus 2020 Rating',
                                                  'Campus 2018 Rating', 'Campus 2017 Rating','Campus 2016 Rating',
                                                  'Campus 2015 Rating', 'Campus 2014 Rating','Campus 2013 Rating',
                                                  'Campus 2012 Rating','Campus 2011 Rating'], axis =1)
raw_school_rating1_df

,Campus\nNumber,Campus,District,# of Consecutive Years Campus is Academically Unacceptable,Campus 2019 Rating
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN
...,...,...,...,...,...
8866,232903110,FLORES EL,UVALDE CISD,0.0,C
8867,* n/a: Rating is not available.,NaN,NaN,NaN,NaN
8868,* 2011 is the last year for the accountability...,NaN,NaN,NaN,NaN
8869,* No state accountability ratings were assigne...,NaN,NaN,NaN,NaN
8870,* State accountability ratings were changed to...,NaN,NaN,NaN,NaN

In [45]:
# Renaming columns - int is for intermediate (in process) table
int_school_rating_df= raw_school_rating1_df.rename(columns= {'Campus\r\nNumber': 'campus_number',
                                                            'Campus' : 'school',
                                                            'District' : 'district',
                                                          '# of Consecutive Years Campus is Academically Unacceptable' : 'yrs_unacceptable',
                                                          'Campus 2019 Rating' : 'rating'})
int_school_rating_df

,Campus\nNumber,school,district,yrs_unacceptable,rating
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN
...,...,...,...,...,...
8866,232903110,FLORES EL,UVALDE CISD,0.0,C
8867,* n/a: Rating is not available.,NaN,NaN,NaN,NaN
8868,* 2011 is the last year for the accountability...,NaN,NaN,NaN,NaN
8869,* No state accountability ratings were assigne...,NaN,NaN,NaN,NaN
8870,* State accountability ratings were changed to...,NaN,NaN,NaN,NaN

In [46]:
# Adding in new column and associated value
int_school_rating_df['year']= 2019
int_school_rating_df

,Campus\nNumber,school,district,yrs_unacceptable,rating,year
0,024901001,FALFURRIAS H S,BROOKS COUNTY ISD,0.0,B,2019
1,024901041,FALFURRIAS J H,BROOKS COUNTY ISD,1.0,F,2019
2,024901101,FALFURRIAS EL,BROOKS COUNTY ISD,0.0,C,2019
3,024901103,LASATER EL,BROOKS COUNTY ISD,0.0,C,2019
4,024901105,FALFURRIAS INNOVATION ACADEMY,BROOKS COUNTY ISD,0.0,NaN,2019
...,...,...,...,...,...,...
8866,232903110,FLORES EL,UVALDE CISD,0.0,C,2019
8867,* n/a: Rating is not available.,NaN,NaN,NaN,NaN,2019
8868,* 2011 is the last year for the accountability...,NaN,NaN,NaN,NaN,2019
8869,* No state accountability ratings were assigne...,NaN,NaN,NaN,NaN,2019
8870,* State accountability ratings were changed to...,NaN,NaN,NaN,NaN,2019

In [47]:
# Dropping rows that contain notes, i.e. start with *
int_school_ratinga_df = int_school_rating_df.drop(int_school_rating_df.loc[int_school_rating_df.campus_number.str.startswith("*")].index)
int_school_ratinga_df

AttributeError: 'DataFrame' object has no attribute 'campus_number'

In [ ]:
# Dropping rows that contain middle school to match HAR data
int_school_rating1_df = int_school_ratinga_df.drop(int_school_ratinga_df.loc[int_school_ratinga_df.school.str.contains("MIDDLE")].index)
int_school_rating1_df

In [ ]:
# checking for NANs
int_school_rating1_df.isna().sum()

In [ ]:
# filling NaNs
int_school_rating1_df = int_school_rating1_df.fillna("Not Rated")

In [ ]:
# checking for NANs
int_school_rating1_df.isna().sum()

In [ ]:
# looking for unique items in column
int_school_rating1_df.rating.unique()

In [ ]:
# replacing to get like wording 
int_school_rating2_df = int_school_rating1_df.replace({"rating" :"Not Rated: Minimum Size rules"},"Not Rated", regex = True)
int_school_rating3_df = int_school_rating2_df.replace({"rating" :"Not rated: Data Integrity Issue"},"Not Rated", regex = True)
int_school_rating3_df.head()

In [ ]:
# verifying like wording
int_school_rating3_df.rating.unique()

In [ ]:
# building dataframe for customer target area
int_school_rating4_df = int_school_rating3_df.loc[(int_school_rating_df['district'] == "HOUSTON ISD")|
                                               (int_school_rating_df['district'] == "KATY ISD") |
                                               (int_school_rating_df['district'] == "SHELDON ISD") |
                                               (int_school_rating_df['district'] == "SPRING BRANCH ISD") |
                                               (int_school_rating_df['district'] == "GALENA PARK ISD") |
                                               (int_school_rating_df['district'] == "CYPRESS-FAIRBANKS ISD") 
                                               ]
int_school_rating4_df

In [ ]:
# adding high schools that are on edge of target area (outside of ISD) but still gets kids because of zoning
new_df = int_school_rating3_df.loc[(int_school_rating3_df['campus_number'] =='101911002')]
new1_df = int_school_rating3_df.loc[(int_school_rating3_df['campus_number'] =='101902003')]
new2_df = int_school_rating3_df.loc[(int_school_rating3_df['campus_number'] =='101919001')]

In [ ]:
# adding schools to df
int_school_rating5_df = int_school_rating4_df.append(new_df, ignore_index=True)
int_school_rating6_df = int_school_rating5_df.append(new1_df, ignore_index=True)
int_school_rating7_df = int_school_rating6_df.append(new2_df, ignore_index=True)
int_school_rating7_df

In [ ]:
# removing elementary school that is not in the target area ISD - it was causing conflict with primary key
int_school_rating8_df = int_school_rating7_df[int_school_rating7_df.campus_number != '101907152']
int_school_rating8_df

In [ ]:
# Creating duplicate df to prevent corruption of original df
school_rating_df= int_school_rating8_df
school_rating_df

In [ ]:
# Writing to clean csv
# school_rating_df.to_csv('../Resources/alt_clean_ratings.csv', index = False)

In [ ]:
raw_cnum_school_df = school_rating_df[['campus_number','school']]
# raw_cnum_school_df .to_csv("../Resources/raw_cnum_school.csv", index = False)
raw_cnum_school_df

In [ ]:
raw_junction = pd.merge_ordered(all_mls_schools_df, raw_cnum_school_df, fill_method='ffill', left_by='school')
# raw_junction.to_csv("../Resources/raw_junction.csv", index = False)
raw_junction

In [ ]:
# triple mls check - if dup school names in target area - will cause 3 mls nubers to show
# trip_school_rating = raw_junction.pivot_table(index= ['mls'], aggfunc= 'size')
# trip_school_rating.sort_values(ascending=False)

In [ ]:
# trip_school_rating.to_csv("../Resources/tripschoolrating.csv", index = True)

In [ ]:
sorted_raw_junction = raw_junction.sort_values(by=['mls'])
sorted_raw_junction

In [ ]:
# sorted_raw_junction.to_csv("../Resources/lookingfor12.csv", index = False)

In [ ]:
raw_har2_df = sorted_raw_junction.drop(['school'], axis =1)
raw_har2_df

In [ ]:
# Writing to clean csv
raw_har2_df .to_csv("../Resources/raw_har2.csv", index = False)

## Junction Table

In [ ]:
# Store csv into df
csv_file= "../Resources/raw_har2.csv"
junction_df= pd.read_csv(csv_file)
junction_df

## School_name

In [ ]:
school_rating_df.head()

In [ ]:
school_rating_df.dtypes

In [ ]:
school_rating_df['campus_number'] = school_rating_df['campus_number'].astype(int)

In [ ]:
school_rating_df.dtypes

In [ ]:
school_name_df2= school_rating_df
school_name_df2.head()

In [ ]:
# school_name_df2= school_name_df1.drop(['yrs_unacceptable','rating','year','district'], axis =1)
# school_name_df2.head()

In [ ]:
# school_name_df2.to_csv("../Resources/school_name_df2.csv", index = False)

In [ ]:
school_name_df2.count()
school_name_df2

In [ ]:
school_name_el2= school_name_df2[~school_name_df2['school'].str.contains(' H S|TECHNOLOG|SENIOR', na=False)]
school_name_el2

In [ ]:
school_name_el2.count()

In [ ]:
school_name_el3a= school_name_el2.rename(columns= {'school': 'elementary'})
school_name_el3a.head()

In [ ]:
ratings = school_name_el3a.drop(['district','yrs_unacceptable', 'elementary','year'], axis =1)
ratings = ratings.rename(columns= {'campus_number': 'elementary'})
ratings

In [ ]:
school_name_el3= school_name_el3a.drop(['district','yrs_unacceptable','rating','year'], axis =1)
school_name_el3.head()

In [ ]:
school_name_el4= pd.merge(final_HAR_df, school_name_el3, how= "left", on= "elementary")
school_name_el4

In [ ]:
school_name_el4['campus_number'].isna().sum()

In [ ]:
school_name_el5= school_name_el4.drop(['elementary'], axis =1)
school_name_el5.head()

In [ ]:
school_name_el6= school_name_el5.rename(columns= {'campus_number': 'elementary'})
school_name_el6.head()

In [ ]:
school_name_el6.count()

In [ ]:
school_name_hs1= school_name_df2[school_name_df2['school'].str.contains(' H S|TECHNOLOG|SENIOR', na=False)]
school_name_hs1.head()

In [ ]:
school_name_hs1.count()

In [ ]:
school_name_hs2a= school_name_hs1.rename(columns= {'school': 'high_school'})
school_name_hs2a.head()

In [ ]:
school_name_hs2= school_name_hs2a.drop(['district','yrs_unacceptable','rating','year'], axis =1)
school_name_hs2.head()

In [ ]:
school_name_hs3= pd.merge(school_name_el6, school_name_hs2, how= "left", on= "high_school")
school_name_hs3.head()

In [ ]:
school_name_hs3['campus_number'].isna().sum()

In [ ]:
school_name_hs4= school_name_hs3.drop(['high_school', 'school_district'], axis =1)
school_name_hs4.head()

In [ ]:
school_name_hs5= school_name_hs4.rename(columns= {'campus_number': 'high_school'})
school_name_hs5.head()

In [ ]:
school_name_hs5.count()
school_name_hs5.dtypes

In [ ]:
school_name_hs5.head()

In [ ]:
har1_df= school_name_hs5
har1_df

In [ ]:
# for col in HAR1_df.columns:
#     print(col)

#har1_df.dtypes

# Load to SQL

In [ ]:
# Connect to local database
rds_connection_string = f"{username}:{password}@localhost:5432/etl_team5"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Use pandas to load transformed df into table mls
har1_df.to_sql(name='mls', con=engine, if_exists='replace', index=False)

In [ ]:
# Use pandas to load transformed df into table junction_table
junction_df.to_sql(name='junction_table', con=engine, if_exists='replace', index=False)

In [ ]:
# Use pandas to load transformed df into table school_rating_df
school_rating_df.to_sql(name='school_rating', con=engine, if_exists='replace', index=False)

In [ ]:
# Use pandas to load transformed df into table elementary_table
school_name_el3a.to_sql(name='elementary_table', con=engine, if_exists='replace', index=False)

In [ ]:
# Use pandas to load transformed df into table high_school_table
school_name_hs2a.to_sql(name='high_school_table', con=engine, if_exists='replace', index=False)

## SQL Query of tables

In [ ]:
# Confirm data has been added by querying the mls table
pd.read_sql_query('select * from mls', con=engine)

In [ ]:
mapdata = pd.read_sql_query('select * from mls', con=engine)
mapdata

### Transform SQL db information into GeoJson

In [ ]:
# Convert lat-long to floats
mapdata['latitude'] = mapdata['latitude'].astype(float)
mapdata['longitude'] = mapdata['longitude'].astype(float)

In [ ]:
# Merge to incude school rating for map visualization
mapdata2 = pd.merge(mapdata,ratings,on = "elementary")
# mapdata2= mapdata2.drop(['Unnamed: 0'], axis =1)
mapdata2

In [ ]:
# Kept Columns
useful_cols = ['mls', 'street_number', 'street_name', 'unit', 'city', 'zip','county', 'subdivision', 'home_type', 'year_built', 'bedrooms', 'full_baths', 'half_baths', 'total_baths', 'fireplaces', 'stories','pool_private', 'garages', 'style', 'list_price', 'market_area', 'area', 'dom', 'cdom', 'list_date', 'elementary','high_school','full_address','latitude','longitude','rating']
df_subset = mapdata2[useful_cols]

In [ ]:
# Drop any rows that lack lat/long data
df_geo = df_subset.dropna(subset=['latitude', 'longitude'], axis=0, inplace=False)

df_geo = df_geo.applymap(str)

print('We have {} geotagged rows'.format(len(df_geo)))
df_geo.tail()

In [ ]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    
#     Turn a dataframe containing point data into a geojson formatted python dictionary
    
#     df : the dataframe to convert to geojson
#     properties : a list of columns in the dataframe to turn into geojson feature properties
#     lat : the name of the column in the dataframe that contains latitude data
#     lon : the name of the column in the dataframe that contains longitude data
    
    
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [ ]:
# Columns for use as Properties
useful_columns = ['mls', 'street_number', 'street_name', 'unit', 'city', 'zip','county', 'subdivision', 'home_type', 'year_built', 'bedrooms', 'full_baths', 'half_baths', 'total_baths', 'fireplaces', 'stories','pool_private', 'garages', 'style', 'list_price', 'market_area', 'area', 'dom', 'cdom', 'list_date', 'elementary','high_school','full_address','rating']

geojson_dict = df_to_geojson(df_geo, properties=useful_columns)
geojson_str = json.dumps(geojson_dict, indent=2)

In [ ]:
# Save the geojson result to a geojson file
output_filename2 = '../data/har.geojson'
with open(output_filename2, 'w') as output_file2:
    output_file2.write('{}'.format(geojson_str))
    
# how many features did we save to the geojson file?
print('{} geotagged features saved to file'.format(len(geojson_dict['features'])))

In [ ]:
# Use pandas to load transformed df into table mls
mapdata2.to_sql(name='mls', con=engine, if_exists='replace', index=False)

In [ ]:
# Confirm data has been added by querying the mls table
pd.read_sql_query('select * from mls', con=engine)

### Junction Table for Schools

In [ ]:
# Confirm data has been added by querying the junction_table table
pd.read_sql_query('select * from junction_table', con=engine).head()

In [ ]:
# Confirm data has been added by querying the school_rating table
pd.read_sql_query('select * from school_rating', con=engine).head()

In [ ]:
# Confirm data has been added by querying the elementary_table table
pd.read_sql_query('select * from elementary_table', con=engine).head()

In [ ]:
# Confirm data has been added by querying the high_school_table table
pd.read_sql_query('select * from high_school_table', con=engine).head()

In [ ]:
# Check for tables
engine.table_names()

## create tables for grouped zip and area scatter charts

In [ ]:
tyPlayraw_df = har1_df

# create new df where year_built = 0 are dropped
tyPlay_df= tyPlayraw_df[tyPlayraw_df['year_built'] != 0]

# allows all columns to display
pd.set_option('display.max_columns', None)

tyPlay_df

In [ ]:
# goal of these steps are to created a df that is grouped on zipcode
# that can be used in scatter plot
zipPriceGroup_df = tyPlay_df.groupby('zip').list_price.agg(['count','min', 'max', 'mean', 'std'])
zipPriceGroup_df['mean'] = zipPriceGroup_df['mean'].astype(int)
zipPriceGroup_df.rename(columns = {'count': 'count_zip','min': 'min_price', 'max': 'max_price', 
                                   'mean': 'avg_price', 'std': 'std_price'}, inplace = True)
zPG_reset_df = zipPriceGroup_df.reset_index()
zPG_reset_df

In [ ]:
zPG_fix = zPG_reset_df[zPG_reset_df['std_price'].notna()]
zPG_fix['std_price'] = zPG_fix['std_price'].astype(int)
zPG_fix.head()

In [ ]:
zipAgeGroup_df = tyPlay_df.groupby('zip').year_built.agg(['mean', 'std'])
zipAgeGroup_df['mean'] = zipAgeGroup_df['mean'].astype(int)
zipAgeGroup_df.rename(columns = {'mean': 'avg_age', 'std' : 'std_age'}, inplace = True)
zAG_reset_df = zipAgeGroup_df.reset_index()
zAG_reset_df

In [ ]:
zAG_fix = zAG_reset_df[zAG_reset_df['std_age'].notna()]
zAG_fix['std_age'] = zAG_fix['std_age'].astype(int)
zAG_fix.head()

In [ ]:
zipFinalraw_df = pd.merge(zPG_fix, zAG_fix, on="zip")
zipFinal_df = zipFinalraw_df.sort_values(by='count_zip', ascending = False)
zipFinal_df.head(20)

In [ ]:
# goal of these steps similiar to zip aboce, but instead
# of grouping on zipcode, this will create a table grouped by area
areaPriceGroup_df = tyPlay_df.groupby('area').list_price.agg(['count','min', 'max', 'mean', 'std'])
areaPriceGroup_df['mean'] = areaPriceGroup_df['mean'].astype(int)
areaPriceGroup_df.rename(columns = {'count' : 'count_area', 'min': 'min_price', 'max': 'max_price', 
                                    'mean': 'avg_price', 'std' : 'std_price'}, inplace = True)
aPG_reset_df = areaPriceGroup_df.reset_index()
# aPG_reset_df.to_csv("../Resources/aPG_reset_df.csv", index = False)

aPG_reset_df.head()

In [ ]:
# import table that has area (neighborhood)  and associated abbbreviation.
# abbreviation will be used inside circles in scatter plot

csv_abbrtab = "../Resources/abbr_table.csv" 
abbr_table_df= pd.read_csv(csv_abbrtab)
# abbr_table_df

In [ ]:
# merge df for abbreviations 
aInt = pd.merge(aPG_reset_df, abbr_table_df, on="area")
# aInt

In [ ]:
aPG_fix = aInt[aInt['std_price'].notna()]
aPG_fix['std_price'] = aPG_fix['std_price'].astype(int)
aPG_fix.head()

In [ ]:
areaAgeGroup_df = tyPlay_df.groupby('area').year_built.agg(['mean', 'std'])
areaAgeGroup_df['mean'] = areaAgeGroup_df['mean'].astype(int)
areaAgeGroup_df.rename(columns = {'mean': 'avg_age', 'std' : 'std_age'}, inplace = True)
aAG_reset_df = areaAgeGroup_df.reset_index()
aAG_reset_df.head()

In [ ]:
aAG_fix = aAG_reset_df[aAG_reset_df['std_age'].notna()]
aAG_fix['std_age'] = aAG_fix['std_age'].astype(int)
aAG_fix.head()

In [ ]:
areaFinalraw_df = pd.merge(aPG_fix, aAG_fix, on="area")
areaFinal_df = areaFinalraw_df.sort_values(by='count_area', ascending = False)
areaFinal_df.head(20)

In [ ]:
# these files have all zip codes or areas (neighborhoods)
# they were not used becuase chart area became very cluttered
# areaFinal_df.to_csv("../Resources/areaFinal_df.csv", index = False)
# zipFinal_df.to_csv("../Resources/zipFinal_df.csv", index = False)

In [ ]:
# this and the zip code charts were used for the plots 
# only top 20 to reduce clutter in chart area
areafinal20 = areaFinal_df.head(20)
areafinal20.to_csv("../Resources/areafinal20.csv", index = False)
areafinal20

In [ ]:
zipfinal20 = zipFinal_df.head(20)
# zipfinal20.to_csv("../Resources/zipfinal20.csv", index = False)
zipfinal20

In [ ]:
# Use pandas to load transformed df into postgreSQL db
areafinal20.to_sql(name='areafinal20', con=engine, if_exists='replace', index=False)

In [ ]:
# Use pandas to load transformed df into postgreSQL db
zipfinal20.to_sql(name='zipfinal20', con=engine, if_exists='replace', index=False)

In [ ]:
# Confirm data has been added by querying the school_rating table

# commented out until table schema gets updated - tables are loading as shown below
pd.read_sql_query('select * from areafinal20', con=engine).head()

In [ ]:
# Confirm data has been added by querying the school_rating table

# commented out until table schema gets updated - tables are loading as shown below
pd.read_sql_query('select * from zipfinal20', con=engine).head()

In [ ]:
# Check for tables
engine.table_names()